<p>Основные характеристики</p>
<span class="text">
    Тип&nbsp;
    <span class="glyphicon glyphicon-question-sign red" ng-mouseover="tooltip=1" ng-mouseleave="tooltip=0"></span>
    <div ng-show="tooltip" class="my-tooltip">
        Определиться с типом устройства (телефон или смартфон?) довольно<br/> просто. Если нужен простой и недорогой аппарат для звонков и SMS,
    </div>
    ...........................................................................стационарная<br/>
    Поддержка HD (High Definition)............................есть<br/>
    Поддержка 3D............................................................есть<br/>
    Жесткий диск..............................................................есть, 500 Гб<br/>
</span>


<p>Технические характеристики</p>
<span class="text">
    Тип процессора........................................................8-ядерный AMD<br/>
    Производительность системы при<br/>
    вычислениях с плавающей точкой...................1.84 терафлоп<br/>
    Графический процессор........................................интегрированный AMD Radeon GPU<br/>
    Оперативная память..............................................8192 Мб, GDDR5<br/>
</span>


<p>Интерфейсы</p>
<span class="text">
    Разъемы......................................................................HDMI, USB x2, оптический аудиовыход<br/>
    Коммуникации..........................................................Bluetooth, Wi-Fi (802.11b/g/n), Ethernet<br/>
</span>


<p>Мультимедийные возможности</p>
<span class="text">
    Проигрывание видео.............................................есть<br/>
    Поддерживаемые носители.................................Blu-ray, DVD, DVD R, DVD RW<br/>
</span>

<p>Габариты</p>
<span class="text">
    Размеры (ШxВxГ)......................................................275x53x305 мм<br/>
    Вес.................................................................................2.80 кг<br/>
</span>


<p>Дополнительная информация</p>
<span class="text">
    Контроллер в комплекте.......................................есть, беспроводной<br/>
    Аксессуары в комплекте........................................гарнитура, HDMI-кабель, USB-кабель<br/>
    Тип носителя для игр.............................................BD (Blu-ray Disc)<br/>
    Совместимость с играми для приставок.........PlayStation <br/>
    Варианты цветового оформления....................черный<br/>
</span>