<div class="row shop">
    <div class="col-xs-4 shop-title">
        <a href="#">Евросеть</a><span class="stars pull-right"><span class="stars-active-4"></span></span>
    </div>
    <div class="col-xs-2 shop-delivery">Самовывоз</div>
    <div class="col-xs-6 shop-price">14 999 руб.</div>
</div>
<div class="row shop">
    <div class="col-xs-4 shop-title">
        <a href="#">Евросеть</a><span class="stars pull-right"><span class="stars-active-4"></span></span>
    </div>
    <div class="col-xs-2 shop-delivery">Самовывоз</div>
    <div class="col-xs-6 shop-price">14 999 руб.</div>
</div>