<div class="rev-container">
    <div class="rev-header"></div>
    <img class="rev-img" src="/images/market/3.jpg"/>
    <div class="rev-body">
        <div class="dignity">
            <b>Достоинства:</b>
            поддержка двух симкарт
            экран пять дюймов, разрешение 1920х1080
            камера 13 МП, автофокус
            память 32 гига без карты памяти,
            3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
            аккумулятор 3080 мА⋅ч
            вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
            Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
            Тип сенсорного экрана мультитач, емкостный
            Диагональ 5 дюйм.
        </div>
        <div class="rev-after">...</div>
        <div class="limitations">
            <b>Недостатки:</b>
            поддержка двух симкарт
            экран пять дюймов, разрешение 1920х1080
            камера 13 МП, автофокус
            память 32 гига без карты памяти,
            3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
            аккумулятор 3080 мА⋅ч
            вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
            Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
            Тип сенсорного экрана мультитач, емкостный
            Диагональ 5 дюйм.
        </div>
        <div class="rev-after">...</div>
        <div class="comments">
            <b>Комментарии:</b>
            поддержка двух симкарт
            экран пять дюймов, разрешение 1920х1080
            камера 13 МП, автофокус
            память 32 гига без карты памяти,
            3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
            аккумулятор 3080 мА⋅ч
            вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
            Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
            Тип сенсорного экрана мультитач, емкостный
            Диагональ 5 дюйм.
        </div>
        <div class="rev-after">...</div>
        <div class="view-all">
            Читать все
        </div>
        <div class="date">
            <span>11.12.2015</span>
        </div>
    </div>
</div>