<div class="rev-header">
    <div class="purchases-block-body2">
        <div class="item-num item-block-top-num-green pull-right">4,5</div>
    </div>
    <div class="rev-header-user">
        <div class="rev-header-user-ava">
            <div class="wrap_ava ava-small network-off">
                <a href="#" class="relative">
                    <img src="/images/ava-small.png" class="img-circle">
                </a>
            </div>
        </div>
        <div class="rev-header-user-info">
            <div class="rev-header-user-name">Агаджанян Артур</div>
            <div class="rev-header-user-status">Профи</div>
        </div>
    </div>
    <div class="rev-header-title"><b>Название товара</b></div>
</div>
<div class="rev-img">
    <img src="/images/market/3.jpg"/>
</div>
<div class="rev-body">
    <div class="dignity">
        <b>Достоинства:</b>
        поддержка двух симкарт
        экран пять дюймов, разрешение 1920х1080
        камера 13 МП, автофокус
        память 32 гига без карты памяти,
        3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
        аккумулятор 3080 мА⋅ч
        вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
        Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
        Тип сенсорного экрана мультитач, емкостный
        Диагональ 5 дюйм.
    </div>
    <div class="rev-after">...</div>
    <div class="limitations">
        <b>Недостатки:</b>
        поддержка двух симкарт
        экран пять дюймов, разрешение 1920х1080
        камера 13 МП, автофокус
        память 32 гига без карты памяти,
        3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
        аккумулятор 3080 мА⋅ч
        вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
        Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
        Тип сенсорного экрана мультитач, емкостный
        Диагональ 5 дюйм.
    </div>
    <div class="rev-after">...</div>
    <div class="comments">
        <b>Комментарии:</b>
        поддержка двух симкарт
        экран пять дюймов, разрешение 1920х1080
        камера 13 МП, автофокус
        память 32 гига без карты памяти,
        3G,4G LTE, Wi-Fi, Bluetooth, GPS, ГЛОНАСС
        аккумулятор 3080 мА⋅ч
        вес 149 г, ШxВxТ 68.50x139.20x8.90 мм
        Тип экрана цветной IPS, 16.78 млн цветов, сенсорный
        Тип сенсорного экрана мультитач, емкостный
        Диагональ 5 дюйм.
    </div>
    <div class="rev-after">...</div>
    <div class="view-all" data-toggle="modal" data-target="#reviewModal">
        Читать все
    </div>
    <div class="date">
        <span>11.12.2015</span>
    </div>
</div>