<div class="row shop">
    <div class="col-xs-4 shop-title">
        <a href="#">Евросеть</a><span class="stars pull-right"><span class="stars-active-4"></span></span>
    </div>
    <div class="col-xs-2 shop-delivery">Самовывоз</div>
    <div class="col-xs-3 shop-price">14 999 руб.</div>
    <div class="col-xs-3 shop-vote"><div class="vote" style="background: linear-gradient(to right, #6DAF53 15%, #DFEBF1 0%)">15 голосов из 100</div></div>
</div>
<div class="row shop">
    <div class="col-xs-4 shop-title">
        <a href="#">Евросеть</a><span class="stars pull-right"><span class="stars-active-4"></span></span>
    </div>
    <div class="col-xs-2 shop-delivery">Самовывоз</div>
    <div class="col-xs-3 shop-price">14 999 руб.</div>
    <div class="col-xs-3 shop-vote"><div class="vote" style="background: linear-gradient(to right, #6DAF53 15%, #DFEBF1 0%)">15 голосов из 100</div></div>
</div>