<div class="row purchases-block-body2"  ng-hide="collapsedItem">
    <div class="col-xs-4">
        <div class="item-head">
            <b>Название товара</b>
            <div class="item-num item-block-top-num-green ">4</div>
        </div>
        <div class="item-img-block">
            <img src="/images/market/3.jpg">
        </div>
    </div>

    <div class="item-shop col-xs-8">
        Мэ-видео&nbsp;&nbsp;<span class="stars"><span class="stars-active-4"></span></span>
    </div>

    <div class="col-xs-5 item-descriptions">
        <div class="item-descriptions-text"></div>
        - описание первая строка<br/>
        - вторая строка описания<br/>
        - храрактеристки товара кратко<br/>
        - ещё какая-то строка<br/>
        - пятый пункт описания<br/>
        - ну и последний, наконец-то, пункт описания<br/>
    </div>
    <div class="col-xs-3">
        <div class="item-block-price">6 072 099 руб.</div>
        <div class="item-block-buttons"> Учавствовать | <span>20 заказов</span></div>
    </div>

</div>
<div ng-show="collapsedItem" class="row purchases-block-body2 collapsedItem">
    <div class="col-xs-4">
        <div class="item-head">
            <div class="arrow" ng-click="collapsedItem=false"></div>
            <img src="/images/market/3.jpg">
            <b>Название товара</b>
        </div>
    </div>
    <div class="item-shop col-xs-5">
        Мэ-видео&nbsp;&nbsp;<span class="stars"><span class="stars-active-4"></span></span>
    </div>
    <div class="col-xs-3">
        <div class="item-block-price">6 072 099 руб.</div>
    </div>

</div>
<ul class="row row-tabs nav nav-tabs purchases-tabs">
    <li ng-class="{'active':!tab||tab==='prices'}" ui-sref="{tab:'prices'}"><span>Цены</span></li>
    <li ng-class="{'active':tab==='reviews'}" ui-sref="{tab:'reviews'}"><span>Отзывы</span></li>
    <li ng-class="{'active':tab==='сustomers'}" ui-sref="{tab:'сustomers'}"><span>Купили</span></li>
    <li ng-class="{'active':tab==='characteristics'}" ui-sref="{tab:'characteristics'}"><span>Характеристики</span></li>
    <li ng-class="{'active':tab==='vote'}" ui-sref="{tab:'vote'}"><span>Голоса</span></li>
</ul>
<div class="tab-content item-open-tabs row">
    <!-- Цены-->
    <div class="tab-pane fade"  ng-class="{'in active':!tab||tab==='prices'}">
        <!--=include _prices.html -->
    </div>
    <!-- Отзывы-->
    <div class="tab-pane fade _reviews"  ng-class="{'in active':tab==='reviews'}">
        <div class="rev-container" ng-repeat="r in [1,2,3,4,5,6,7,8,9]">
            <!--=include _review.html -->
        </div>
    </div>
    <!-- Купили-->
    <div class="tab-pane fade _customers"  ng-class="{'in active':tab==='сustomers'}">
        <!--=include _сustomers.html -->
    </div>
    <!-- Характеристики-->
    <div class="tab-pane fade _characteristics"  ng-class="{'in active':tab==='characteristics'}">
        <!--=include _characteristics.html -->
    </div>
    <!-- Голоса-->
    <div class="tab-pane fade"  ng-class="{'in active':tab==='vote'}">
        <!--=include _vote.html -->
    </div>
</div>

<div class="modal fade my-modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rev-container">
            <!--=include _review.html -->
        </div>
        <div class="modal-content photo-modal">

            <div class="modal-body editor">
                <div class="editor-header"><p>Ваш комментарий</p></div>
                <div class="row">
                    <div class="col-xs-9">
                        <div class="editor-body"></div>
                        <div class="editor-footer">
                            <button type="button" class="btn btn-link">Прикрепить</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Отправить</button>
                        </div>
                    </div>
                    <div class="col-xs-3 ">
                        <div class="user-info-mini">
                            <img src="/images/75x75/{{user.photo}}">
                            <div ng-bind="user.name"></div>
                        </div>
                        <div><a>Поделиться</a></div>
                        <div><a>Сохранить в блокнот</a></div>
                    </div>
                </div>
            </div>
            <div class="modal-comments">
                <i>Пользователи пока не оставили комментарии к данному отзыву</i>
            </div>
        </div>
    </div>
</div>