<div class="row user_data">
    <div class="col-xs-8 no-padding ">
        <h2>Товар</h2>
    </div>
    <div class="col-xs-4 no-padding text-right ">
        <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
    </div>
</div>
<div class="row purchases-block-body2">
    <div class="col-xs-4">
        <div class="item-head">
            <b>Название товара</b>
            <div class="item-num item-block-top-num-green ">4,5</div>
        </div>
        <div class="item-img-block">
            <img src="/images/market/3.jpg">
        </div>
    </div>

    <div class="item-shop col-xs-8">
        Мэ-видео&nbsp;&nbsp;<span class="stars"><span class="stars-active-4"></span></span>
    </div>

    <div class="col-xs-5 item-descriptions">
        <div class="item-descriptions-text"></div>
        - описание первая строка<br/>
        - вторая строка описания<br/>
        - храрактеристки товара кратко<br/>
        - ещё какая-то строка<br/>
        - пятый пункт описания<br/>
        - ну и последний, наконец-то, пункт описания<br/>
    </div>
    <div class="col-xs-3">
        <div class="item-block-price">6 072 099 руб.</div>
        <div class="item-block-buttons"> Учавствовать | <span>20 заказов</span></div>
    </div>

</div>
<ul class="row row-tabs nav nav-tabs purchases-tabs">
    <li ng-class="{'active':!tab||tab==='prices'}" ui-sref="{tab:'prices'}"><span>Цены</span></li>
    <li ng-class="{'active':tab==='reviews'}" ui-sref="{tab:'reviews'}"><span>Отзывы</span></li>
    <li ng-class="{'active':tab==='сustomers'}" ui-sref="{tab:'сustomers'}"><span>Купили</span></li>
    <li ng-class="{'active':tab==='characteristics'}" ui-sref="{tab:'characteristics'}"><span>Характеристики</span></li>
    <li ng-class="{'active':tab==='vote'}" ui-sref="{tab:'vote'}"><span>Голоса</span></li>
</ul>
<div class="tab-content item-open-tabs row">
    <!-- Цены-->
    <div class="tab-pane fade"  ng-class="{'in active':!tab||tab==='prices'}">
        <!--=include _prices.html -->
    </div>
    <!-- Отзывы-->
    <div class="tab-pane fade _reviews"  ng-class="{'in active':tab==='reviews'}">
        <!--=include _reviews.html -->
    </div>
    <!-- Купили-->
    <div class="tab-pane fade"  ng-class="{'in active':tab==='сustomers'}">
        <!--=include _сustomers.html -->
    </div>
    <!-- Характеристики-->
    <div class="tab-pane fade _characteristics"  ng-class="{'in active':tab==='characteristics'}">
        <!--=include _characteristics.html -->
    </div>
    <!-- Голоса-->
    <div class="tab-pane fade"  ng-class="{'in active':tab==='vote'}">
        <!--=include _vote.html -->
    </div>
</div>