<div class="col-xs-12 my-documents documents-new-page">
    <div class="tab-content clearfix">
        <div>

            <!-- begin files-attached-list -->
            <div class="col-xs-9 files-attached-list">

                <div class="top-fld-container">
                    <input type="text" class="presave-docnew-ctrls top-inp-tex" name="top-inp-tex" placeholder="Введите название" />
                    <span class="presave-docnew-ctrls blue-grey-button savebutt-for-docnew">Сохранить</span>
                    <span class="edit-doc-new hidden-ctrls"></span>
                </div>

                <div class="main-area"></div>

                <div class="add-message-wrapper">

                    <textarea class="add-message"></textarea>

                    <div class="message-btns">

                        <div class="pull-left">
                            <a href="#" class="editor-size-asc"></a>
                            <a href="#" class="editor-size-desc"></a>
                                        <span class="custom-color-picker-container relativer">
                                            <a class="editor-color"></a>
                                            <div class="colors-panel">
                                                <div class="color-row">
                                                    <div class="color-cell-container"><div style="background-color: #ede4db;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #ead592;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #ebd0b2;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #c7a194;" class="color-cell"></div></div>
                                                    <div class="last-color-cell-container"><div style="background-color: #b9a37a;" class="color-cell"></div></div>
                                                </div>
                                                <div class="color-row">
                                                    <div class="color-cell-container"><div style="background-color: #c9d2db;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #8bbccd;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #ebc07b;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #f37d73;" class="color-cell"></div></div>
                                                    <div class="last-color-cell-container"><div style="background-color: #d45242;" class="color-cell"></div></div>
                                                </div>
                                                <div class="color-row">
                                                    <div class="color-cell-container"><div style="background-color: #43608a;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #587d8f;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #b5bb7d;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #6f7c37;" class="color-cell"></div></div>
                                                    <div class="last-color-cell-container"><div style="background-color: #c32826;" class="color-cell"></div></div>
                                                </div>
                                                <div class="last-color-row">
                                                    <div class="color-cell-container"><div style="background-color: #ff94ab;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #99506e;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #606384;" class="color-cell"></div></div>
                                                    <div class="color-cell-container"><div style="background-color: #5e3726;" class="color-cell"></div></div>
                                                    <div class="last-color-cell-container"><div style="background-color: #000000;" class="color-cell turnedon"></div></div>
                                                </div>
                                            </div>
                                        </span>
                            <a href="#" class="editor-weight"></a>
                            <a href="#" class="editor-style"></a>
                            <a href="#" class="editor-underline"></a>
                            <a href="#" class="editor-throughline"></a>
                            <a href="#" class="editor-list"></a>
                            <a href="#" class="editor-reset"></a>
                            <!--<a href="#" class="editor-window"></a>-->
                        </div>

                        <div class="pull-right relativer" ng-init="attach_menu=false">

                            <div class="expanded_attach_menu" ng-show="attach_menu">
                                <div class="line">
                                    <div class="download_icon"></div>
                                    <span class="tex">Загрузить</span>
                                </div>
                                <div class="line">
                                    <div class="document_icon"></div>
                                    <span class="tex">Документ</span>
                                </div>
                                <div class="line">
                                    <div class="photo-icon"></div>
                                    <span class="tex">Фото</span>
                                </div>
                                <div class="line">
                                    <div class="music-icon"></div>
                                    <span class="tex">Аудио</span>
                                </div>
                            </div>

                            <a href="#" class="link attach-button" ng-click="attach_menu=true" ng-blur="attach_menu=false"><i class="icon icon-link"></i> Вставить</a>
                            <a class="btn btn-primary">Сохранить</a>
                        </div>

                        <div class="clr"></div>
                    </div>

                    <!--<div class="bott-for-messopen-btns">
                        <span class="red-custom-check"></span>

                        <span class="sendsms">Отправить СМС/ММС на</span>
                        <span class="number-title">номер</span>
                        <span class="phone-num">+7 916 678 65 43</span>
                    </div>-->

                </div>

            </div>
            <!-- end files-attached-list -->

            <div class="col-xs-3 right-column">
                <div class="right-column-bg" id="right-column-new">
                    <!-- begin first-view -->
                    <div class="file-selected-menu">
                        <div class="simple-text">Новый документ</div>
                        <div><a class="edit-pencil " href="#">Переименовать</a></div>
                        <div><a class="save-disketa " href="#">Сохранить</a></div>
                        <div><a class="messages-smile " href="#">Поделиться</a></div>
                        <div><a class="trash-bucket " href="#">Удалить</a></div>
                    </div>
                    <!-- end first-view -->
                </div>
            </div>
        </div>
    </div>
</div>