
<div class="documents-page">
    <div class="row no-margin user_data">
        <div class="col-xs-8 no-padding ">
            <h2>Документы</h2>
        </div>
        <div class="col-xs-4 no-padding text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>
    <div class="row" ui-view>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-3 find-user-form sub-search form-on-the-top-onthe-docs">
                    <input type="text" />
                    <button type="submit"></button>
                </div>
            </div>
        </div>
        <div>
            <ul class="nav nav-tabs document-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Все документы</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel2">Папки</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel3">Архивы</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel4">Фото</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel5">Документы</a></li>
                <li class="doc-menu-on-right-side"><a href="#newTab"  data-toggle="modal" class="new-tab"></a></li>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="col-xs-12 my-documents no-padding">

            <div class="tab-content clearfix">
                <div id="panel1" class="tab-pane fade in active">
                    <div class="col-xs-12 doc-main-buttons">
                        <!-- begin btn-group -->
                        <div class="wrap-btn-group">
                            <div class="btn-group">
                                <a ui-sref=".create" class="new-doc">Новый документ</a>
                                <a href="#" class="load btn-primary">Загрузить</a>
                                <a href="#" class="to-archive btn-primary">В архив</a>
                                <div class="no-chosen">Выберите элемент</div>
                            </div>
                        </div>
                        <!-- end btn-group -->
                        <div class="transcript">
                            <p>Чтобы загрузить сюда файлы, просто перетащите их на эту страницу</p>
                            <p>Заархивируйте свои файлы, чтоб сэкономить место</p>
                        </div>
                    </div>
                    <div class="col-xs-9 panel-title">
                        <div class="row">
                            <a href="#" class="dialog-list pull-right" ng-class="{'active':type==='list'}" ng-click="type='list'"></a>
                            <a href="#" class="dialog-grid pull-right" ng-class="{'active':type==='grid'}" ng-click="type='grid'"></a>
                            <div class="sort">
                                <span>Сортировать:</span>
                                <a href="#" class="sort-date active">По дате</a>
                                <a href="#" class="sort-alph">По алфавиту</a>
                                <a href="#" class="sort-type">По типу</a>
                            </div>
                        </div>
                    </div>

                    <!-- begin files-attached-list -->
                    <div class="col-xs-9 files-attached-list {{type}}-view" id="my-files-attached-list">

                        <div ng-repeat="doc in documents" class="row no-margin each-attached-file doc-for-check doc-{{doc.type}}" ng-class="{'checked':doc.checked}" emit-last-repeater-element>
                            <div class="file-img">
                                <img ng-src="images/icons2/file-{{doc.type}}.png" alt="">
                            </div>
                            <div class="file-info" ng-class="{'overflow':doc.name.length>35}">
                                <div class="file-name" ng-bind="doc.name"></div>
                                <div class="file-size" ng-bind="(doc | docSizeFilt)"></div>
                                <span ng-if="doc.name.length>35">...</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="file-type" ng-bind="(doc.type | DocTypeFilt)"></div>
                            <div class="file-date">12 февраля 09:34</div>
                            <div class="file-save">
                                <a href="#"></a>
                            </div>
                            <a  href="#" class="close-file"></a>
                            <span class="doc-checked" ng-click="setChecked(doc.checked=!doc.checked,doc)" ng-class="{'show':checkedCount}"></span>
                        </div>
                    </div>

                    <div class="col-xs-3 right-column resize-me" new-height="#my-files-attached-list">
                        <div class="right-column-bg" id="right-column-bg">
                            <!-- begin first-view -->
                            <div class="first-view" ng-show="!checkedCount">
                                <div class="text-center">Загружайте и делитесь документами</div>
                                <div class="quote text-center">Доступно 100 Мб</div>
                            </div>
                            <!-- end first-view -->
                            <!-- begin second-view -->
                            <div class="second-view">
                                <div class="file-selected-menu" ng-if="checkedCount==1">
                                    <div class="info-default clearfix">
                                        <div class="file-name">
                                            <span class="name" ng-bind="checkedDocument.name"></span>
                                            <span class="ext">.rar</span>
                                        </div>
                                        <div class="col-xs-4 file-img">
                                            <img ng-src="images/icons2/file-{{checkedDocument.type}}.png" alt="">
                                        </div><div class="col-xs-8 right-info">
                                        <p><span>Размер:</span><span ng-bind="(checkedDocument | docSizeFilt)"></span></p>
                                        <p><span>Изменен:</span> 12 февраля 09:34</p>
                                        <p>Скачан 1 раз</p>
                                    </div>
                                    </div>
                                    <div class="clearfix">
                                        <a href="#" class="pull-left btn-primary btn-view">Просмотреть</a>
                                        <a href="#" class="pull-left save-file  btn-primary"></a>
                                        <a href="#" class="pull-left trash-file btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <div class="dropdown dots-dropdown">
                                            <a href="#" class="pull-left dots  btn-primary dropdown-toggle" data-toggle="dropdown">...</a>
                                            <ul class="dropdown-menu btn-dropdown">
                                                <li class="copy-file"><a href="#">Копировать</a></li>
                                                <li class="btn-replace"><a href="#">Переместить</a></li>
                                                <li class="rename-file"><a href="#">Переименовать</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="text-share" ng-class="{'open':checkedDocument.open}" ng-click="checkedDocument.open=!checkedDocument.open">
                                        <span class="eye-link"></span>
                                        <span class="text-change">
                                            <span ng-hide="checkedDocument.open">Не делиться ссылкой</span>
                                            <span ng-show="checkedDocument.open">Поделиться ссылкой</span>
                                        </span>
                                    </p>
                                    <div class="copy-dropdown dropdown">
                                        <div class="share-link dropdown-toggle">https://fortawesome.github.io</div>
                                        <ul class="dropdown-menu link-dropdown">
                                            <li><a id="copy-button" data-clipboard-text="https://fortawesome.github.io">Копировать ссылку</a></li>
                                        </ul>
                                    </div>
                                    <a class="copy-link">Копировать ссылку</a>
                                </div>
                                <div class="several-checks" ng-if="checkedCount>1"><p class="text-bold">2 документа </p>
                                    <ul class="list-unstyled btns-list">
                                        <li><a href="#" class="btn-copy">Копировать</a></li>
                                        <li><a href="#" class="btn-save">Скачать</a></li>
                                        <li><a href="#" class="btn-del">Удалить</a></li>
                                        <li><a href="#" class="btn-rename">Переименовать</a></li>
                                        <li><a href="#" class="btn-replace">Переместить</a></li>
                                        <li><a href="#" class="btn-share">Делиться</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" class="btn-deselect-all">Отменить выделение</a></li>
                                        <li><a href="#" class="btn-select-all">Выделить все</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end second-view -->
                        </div>
                    </div>

                </div>
                <div id="panel2" class="tab-pane fade">
                    Папки
                </div>
                <div id="panel3" class="tab-pane fade">
                    Архивы
                </div>
                <div id="panel4" class="tab-pane fade">
                    Фото
                </div>
                <div id="panel5" class="tab-pane fade">
                    Документы
                </div>
            </div>
        </div>
    </div>
</div>