<p>Флагманский смартфон на основе высокопроизводительного чипсета Snapdragon 808</p>
<p class="text">Каким является смартфон вашей мечты? Он обязательно должен обладать высокой производительностью, иметь привлекательный внешний вид и быть приятным на ощупь. Новый Mi4c, который получил название «Android «Маленький принц», полностью соответствует вышеперечисленному описанию. Он оснащен новейшим Qualcomm Snapdragon 808 64-битным процессором, производительность которого не уступает  Snapdragon 810, однако его потребляемая мощность ниже. Mi4c выделяется не только быстрой работой приложений, но и тем, что вы теперь беспрепятственно сможете играть в ваши любимые игры.  Классический 5-дюймовый дисплей, который идеально размещается в вашей ладони, что весьма удобно в использовании, поэтому его действительно не хочется выпускать из рук.
есть, 500 Гб</p>

<p>
    <img src="/images/shop-images/Mi4c100.png">
</p>
