<div class="item-open-reviews">
    <div class="title">Отзывы покупателей</div>
    <div class="body">
        <div class="user-photo pull-left">
            <img src="/images/75x75/2.jpg" class="img-circle">
        </div>
        <div class="user-message pull-left">
            <div class="user-name"><span>Боровский Евгений</span>&nbsp;&nbsp;&nbsp;<span class="stars"><span class="stars-active-5"></span></span></div>
            <div class="user-date">14.02.2016</div>
            <div class="user-text">
                Здесь та же ситуация, что и у Мейзу? Китайская и международная версия прошивок?
                Если да, то поддерживают ли китайские версии русский язык?
            </div>
        </div>
    </div>
</div>