<ol class="breadcrumb">
    <li><a href="#">Магазин</a></li>
    <li class="active">Планшеты</li>
</ol>
<div class="row category-body">
    <div class="col-xs-3">
        <form class="search-filter">
            <div class="search-filter-title">Модель</div>
            <div class="search-filter-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Mi Pad
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-9"></div>
</div>