<div class="row">
    <div class="col-xs-12 title-result">
        <div>Найдено 256 людей</div>
    </div>
    <div class="col-md-6 user-result" ng-repeat="r in [1,2,3,4]">
        <div class="row">
            <div class="user-info col-xs-8">
                <div class="user-photo">
                    <img src="/images/500x500/2.jpg" class="img-circle">
                </div>
                <div class="user-info-2">
                    <div class="user-name"><b>Константин Викторович</b></div>
                    <div class="user-house">Москва, Россия</div>
                </div>
            </div>
            <div class="user-add col-xs-4">
                <div class="btn btn-lg btn-primary">Добавить</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="see-all">Посмотреть все найденные</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 title-result">
        <div>Найдено 6 магазинов</div>
    </div>
    <div class="col-md-6 shop-result shop-info" ng-repeat="r in [1,2]">
        <div class="shop-photo">
            <img src="1">
        </div>
        <div class="shop-info-2">
            <div class="shop-name"><b>М. Видео</b></div>
            <div class="shop-info-3">
                <p>Москва</p>
                <p>569 участников</p>
                <p>Официальный магазин техники</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="see-all">Посмотреть все найденные</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 title-result">
        <div>Найдено 11 групп</div>
    </div>
    <div class="col-md-12 group-result" >
        <div class="row">
            <div class="col-xs-7 group-info">
                <div class="group-photo">
                    <img src="1">
                </div>
                <div class="group-info-2">
                    <div class="group-name"><b>AD ME - вдохновение, творчество, позитив</b></div>
                    <div class="group-topic">
                        <span> Создан людьми, искренне увлечёнными миром творчества!</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 group-count">
                <div>15 000 участников</div>
            </div>
            <div class="col-xs-2 group-btn">
                <div class="btn btn-primary">Подписаться</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="see-all">Посмотреть все найденные</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 title-result">
        <div>Найдено 3 обзора</div>
    </div>
    <div class="col-md-12 result-body" >
        <div class="result-body-photo">
            <img src="/images/75x75/4.jpg" class="img-circle">
        </div>
        <div class="r-bb">
            <div class="r-bb-title">Обзор Samsung Galaxy A5: алюминий на вес золота</div>
            <div class="r-bb-content">
                <img src="1">
                <span>Буквально только что стартовали продажи нового Android-смартфона от Samsung.
                    Рекомендованная цена Samsung Galaxy A5 — 23 990. За эти деньги пользователь получает тонкий и
                    лёгкий смартфон в металлическом корпусе, возможность использования с двумя SIM-картами,
                    либо с одной «симкой» и картой памяти, 64-разрядный процессор, 2 ГБ оперативной памяти и
                    батарею на 2300 мАч и фронтальную камеру 5 Мп. Для первого впечатления неплохо.
                    Что ещё скрывается в алюминиевом корпусе — читайте в обзоре.<br/>Отказ от приевшейся пластмассы
                    безусловно пошёл смартфонам Samsung на пользу. Galaxy A5 выглядит симпатично, по дизайну
                    напоминая новый Galaxy Note 4: те же скошенные серебристые углы, квадратно-выпуклый блок камеры и... <span class="read-next">Читать далее</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="see-all">Посмотреть все найденные</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 title-result">
        <div>Найдено 4 отзыва</div>
    </div>
    <div class="col-md-12 result-body" >
        <div class="result-body-photo">
            <img src="/images/75x75/8.jpg" class="img-circle">
        </div>
        <div class="r-bb">
            <div class="r-bb-title">Отзыв о Samsung Galaxy A5 <div class="num-green">5</div></div>
            <div class="r-bb-content">
                <img src="1">
                <span>Буквально только что стартовали продажи нового Android-смартфона от Samsung.
                    Рекомендованная цена Samsung Galaxy A5 — 23 990. За эти деньги пользователь получает тонкий и
                    лёгкий смартфон в металлическом корпусе, возможность использования с двумя SIM-картами,
                    либо с одной «симкой» и картой памяти, 64-разрядный процессор, 2 ГБ оперативной памяти и
                    батарею на 2300 мАч и фронтальную камеру 5 Мп. Для первого впечатления неплохо.
                    Что ещё скрывается в алюминиевом корпусе — читайте в обзоре.<br/>Отказ от приевшейся пластмассы
                    безусловно пошёл смартфонам Samsung на пользу. Galaxy A5 выглядит симпатично, по дизайну
                    напоминая новый Galaxy Note 4: те же скошенные серебристые углы, квадратно-выпуклый блок камеры и... <span class="read-next">Читать далее</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="see-all">Посмотреть все найденные</div>
    </div>
</div>
