<div class="col-xs-12 title-result">
    <div><div class="open col-xs-9">Найдено 2 группы</div></div>
</div>
<div class="col-xs-9">
    <div class="row">
        <div class="col-xs-12"  ng-repeat="r in [1,2]">
            <div class="shop-info">
                <div class="shop-photo">
                    <img src="1">
                </div>
                <div class="shop-info-2">
                    <div class="shop-name"><b>Xiaomi Global</b></div>
                    <div class="shop-info-3">
                        <div class="btn btn-primary">Подписаться</div>
                        <p>Москва, Россия</p>
                        <p>Официальный магазин техники</p>
                        <p>26 123 подписчика</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3 search-filter">
    <form>
        <div class="top-search-sort">По количеству участников</div>
        <div class="btn">Развлечения</div><br/>
        <div class="btn">Общество</div><br/>
        <div class="btn">Политика</div><br/>
        <div class="btn">Бизнесс</div><br/>
        <div class="btn">Досуг</div><br/>
    </form>
</div>
