<div class="col-xs-12 title-result">
    <div>Найдено 256 людей</div>
</div>
<div class="col-xs-9">
    <div class="row">
        <div class="col-xs-12" ng-repeat="r in [2,3,4,5,6]">
            <div class="user-body">
                <div class="row user-result">
                    <div class="user-info col-xs-9">
                        <div class="user-photo">
                            <img ng-src="/images/500x500/{{r}}.jpg" class="img-circle">
                        </div>
                        <div class="user-info-2">
                            <div class="user-name"><b>Константин Викторович</b></div>
                            <div class="user-house">Москва, Россия</div>
                        </div>
                    </div>
                    <div class="user-add col-xs-3">
                        <div class="btn btn-primary">Добавить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3">
</div>
