<div class="col-xs-12 title-result">
    <div class="open">Найдено 15 магазинов</div>
</div>
<div class="col-xs-9">
    <div class="row">
        <div class="col-xs-12"  ng-repeat="r in [1,2]">
            <div class="shop-info">
                <div class="shop-photo">
                    <img src="1">
                </div>
                <div class="shop-info-2">
                    <div class="shop-name"><b>М. Видео</b><span class="right-stars"><span class="stars"><span class="stars-active-4"></span></span></span></div>
                    <div class="shop-info-3">
                        <p>Москва, Россия</p>
                        <p>Официальный магазин техники</p>
                        <p>26 123 подписчика</p>
                    </div>
                    <div class="shop-btn">
                        <div class="btn btn-primary">Подписаться</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3 search-filter">
    <form>
        <div class="top-search-sort">По рейтингу магазина <span class="glyphicon glyphicon-menu-down"></span></div>
        <div class="form-group">
            <label for="search-country1">Страна</label>
            <input type="text" class="form-control input-sm" id="search-country1" placeholder="Выберите страну">
        </div>
        <div class="form-group">
            <label for="search-city1">Город</label>
            <input type="text" class="form-control input-sm" id="search-city1" placeholder="Выберите город">
        </div>
        <div class="form-group">
            <label for="search-categ">Категория товаров</label>
            <input type="text" class="form-control input-sm" id="search-categ" placeholder="Выберите категорию">
        </div>
    </form>
</div>
