<div class="search-page">
    <div class="row no-margin user_data">
        <div class="col-xs-8 no-padding ">
            <h2>Поиск</h2>
        </div>
        <div class="col-xs-4 no-padding text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <ul class="nav nav-tabs purchases-tabs">
                <li ui-sref-active="active" class="tab-with-map pull-right"><a ui-sref="{type:'comments'}">Отзывы</a></li>
                <li ui-sref-active="active" class="tab-with-map pull-right"><a ui-sref="{type:'reviews'}">Обзоры</a></li>
                <li ui-sref-active="active" class="tab-with-map"><a ui-sref="{type:'all'}">Все категории</a></li>
                <li ui-sref-active="active" class="tab-with-map"><a ui-sref="{type:'people'}">Люди</a></li>
                <li ui-sref-active="active" class="tab-with-map"><a ui-sref="{type:'shops'}">Магазины</a></li>
                <li ui-sref-active="active" class="tab-with-map"><a ui-sref="{type:'groups'}">Группы</a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>
    <form class="row" ng-submit="submitSearchForm(sText)">
        <div class="col-xs-10">
            <div class="main-search">
                <input type="text" ng-model="sText"/>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-lg main-search-btn">Найти</button>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12 tab-content">
            <div id="all" class="tab-pane fade" ng-class="{'in active':!searchType||searchType==='all'}">
                <!--=include _all.html -->
            </div>
            <div id="people" class="row tab-pane fade" ng-class="{'in active':searchType==='people'}">
                <!--=include _people.html -->
            </div>
            <div id="shops" class="row tab-pane fade" ng-class="{'in active':searchType==='shops'}">
                <!--=include _shops.html -->
            </div>
            <div id="groups" class="row tab-pane fade" ng-class="{'in active':searchType==='groups'}">
                <!--=include _groups.html -->
            </div>
            <div id="reviews" class="row tab-pane fade" ng-class="{'in active':searchType==='reviews'}">
                <!--=include _reviews.html -->
            </div>
            <div id="comments" class="row tab-pane fade" ng-class="{'in active':searchType==='comments'}">
                <!--=include _comments.html -->
            </div>
        </div>
    </div>
</div>