<div class="notebook-page">
    <div class="row no-margin user_data">
        <div class="col-xs-8 no-padding ">
            <h2>Блокнот</h2>
        </div>
        <div class="col-xs-4 no-padding text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>

    <div class="row no-margin">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-3">
                    <div class="find-user-form">
                        <input type="text" />
                        <button type="submit"></button>
                    </div>
                </div>
                <div class="col-xs-9">

                    <div class="default-line">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 my-notes no-padding">

            <ul class="nav nav-tabs notebook-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Мои записи</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel2">Адреса и телефоны</a></li>
            </ul>

            <div class="tab-content">
                <div id="panel1" class="tab-pane fade in active">

                    <div class="row">
                        <div class="col-xs-9">

                            <div role="tabpanel" class="tab-pane active" id="wall">
                                <div class="wrap_question wrap_wall question_hide">
                                    <textarea placeholder="Введите Ваше сообщение"></textarea>
                                    <div class="row btn-send no-margin">
                                        <div class="col-xs-8 link">
                                            <a href="#" class="pull-right"><i class="icon icon-link"></i> <i>Прикрепить</i></a>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <a class="btn btn-block btn-primary pull-right">Отправить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row post no-margin">
                                <div class="col-xs-2 no-padding">
                                    <div class="wrap_ava ava-small network-on">
                                        <a href="#" class="relative">
                                            <img src="/images/ava-small.png" class="img-circle" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding">
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-8 no-padding">
                                            <a href="#" class="user_title">Елена Поливайченко</a>
                                        </div>
                                        <div class="col-xs-4 no-padding  text-right">
                                            <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                            <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                        </div>
                                    </div>
                                    <p>Понимания не существует,это лишь иллюзия,небо играет,чтоб мы сопротивлялись,чтоб думали,что что-то решаем............а это лишь иллюзия выбора....иллюзия свободы.........иллюзия жизни......</p>
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-12 no-padding">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="icon icon-show-love"></i> <strong>5</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-show-love-not"></i> <strong>2</strong>
                                                </li>
                                                <li>
                                                    <i>Поделиться</i>
                                                </li>
                                                <li>
                                                    <i class="icon icon-alert"></i> <strong>7</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-comment"></i>
                                                </li>
                                                <li class="text-right pull-right">
                                                    <small>Сегодня в 19:40</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row post no-margin">
                                <div class="col-xs-2 no-padding">
                                    <div class="wrap_ava ava-small network-off">
                                        <a href="#" class="relative">
                                            <img src="/images/ava-small.png" class="img-circle" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding">
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-8 no-padding">
                                            <a href="#" class="user_title">Елена Поливайченко</a>
                                        </div>
                                        <div class="col-xs-4 no-padding  text-right">
                                            <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                            <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                        </div>
                                    </div>
                                    <img src="/images/img1.jpg" class="img-rounded" />
                                    <p>Увидела картинку, и вспомнила о тебе :*</p>
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-12 no-padding">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="icon icon-hide-love"></i> <strong>14</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-show-love-not"></i> <strong>7</strong>
                                                </li>
                                                <li>
                                                    <i>Поделиться</i>
                                                </li>
                                                <li>
                                                    <i class="icon icon-alert"></i> <strong>78</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-comment"></i>
                                                </li>
                                                <li class="text-right pull-right">
                                                    <small>Вчера в 09:34</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>

                            <div class="row post no-margin">
                                <div class="col-xs-2 no-padding">
                                    <div class="wrap_ava ava-small network-off">
                                        <a href="#" class="relative">
                                            <img src="/images/ava-small.png" class="img-circle" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding">
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-8 no-padding">
                                            <a href="#" class="user_title">Елена Поливайченко</a>
                                        </div>
                                        <div class="col-xs-4 no-padding  text-right">
                                            <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                            <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                        </div>
                                    </div>
                                    <img src="/images/img2.jpg" class="img-rounded" />
                                    <p><strong>Sebastian Tellier - Look</strong></p>
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-12 no-padding">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="icon icon-hide-love"></i> <strong>2</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-show-love-not"></i> <strong>2</strong>
                                                </li>
                                                <li>
                                                    <i>Поделиться</i>
                                                </li>
                                                <li>
                                                    <i class="icon icon-alert"></i> <strong>78</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-comment"></i>
                                                </li>
                                                <li class="text-right pull-right">
                                                    <small>31 января в 15:45</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row post no-margin">
                                        <div class="col-xs-2 no-padding">
                                            <div class="wrap_ava ava-small network-off">
                                                <a href="#" class="relative">
                                                    <img src="/images/ava-small.png" class="img-circle" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-10 no-padding">
                                            <div class="row no-margin user_top_panel">
                                                <div class="col-xs-8 no-padding">
                                                    <a href="#" class="user_title">Елена Поливайченко</a>
                                                </div>
                                                <div class="col-xs-4 no-padding  text-right">
                                                    <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                                    <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                                </div>
                                            </div>
                                            <p>Спасибо! Мой любимый клип</p>
                                            <div class="row no-margin user_top_panel">
                                                <div class="col-xs-12 no-padding">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <i class="icon icon-show-love"></i> <strong>7</strong>
                                                        </li>
                                                        <li>
                                                            <i class="icon icon-hide-love-not"></i> <strong>7</strong>
                                                        </li>
                                                        <li>
                                                            <i>ответить</i>
                                                        </li>
                                                        <li class="text-right pull-right">
                                                            <small>31 января в 15:45</small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row post no-margin">
                                        <div class="col-xs-2 no-padding">
                                            <div class="wrap_ava ava-small network-on">
                                                <a href="#" class="relative">
                                                    <img src="/images/ava-small.png" class="img-circle" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-10 no-padding">
                                            <div class="row no-margin user_top_panel">
                                                <div class="col-xs-8 no-padding">
                                                    <a href="#" class="user_title">Елена Поливайченко</a>
                                                </div>
                                                <div class="col-xs-4 no-padding  text-right">
                                                    <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                                    <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                                </div>
                                            </div>
                                            <p>Details of your look, like your touch<br />
                                                Killing me by shoot, just in once<br />
                                                Let me look at you with your cries<br />
                                                Since the days of school, you and i<br />
                                                You are my way...</p>
                                            <div class="row no-margin user_top_panel">
                                                <div class="col-xs-12 no-padding">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <i class="icon icon-hide-love"></i> <strong>32</strong>
                                                        </li>
                                                        <li>
                                                            <i class="icon icon-show-love-not"></i> <strong>1</strong>
                                                        </li>
                                                        <li>
                                                            <i>ответить</i>
                                                        </li>
                                                        <li class="text-right pull-right">
                                                            <small>31 января в 15:45</small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row post no-margin">
                                        <div class="col-xs-2 no-padding">
                                            <div class="wrap_ava ava-small network-on">
                                                <a href="#" class="relative">
                                                    <img src="/images/ava-small.png" class="img-circle" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-10 no-padding">
                                            <div class="row no-margin user_top_panel">
                                                <div class="col-xs-8 no-padding">
                                                    <a href="#" class="user_title">Елена Поливайченко</a>
                                                </div>
                                            </div>
                                            <div class="wrap_question question_hide">
                                                <textarea placeholder="Ответить"></textarea>
                                                <div class="row btn-send no-margin">
                                                    <div class="col-xs-8 link">
                                                        <a href="#" class="pull-right"><i class="icon icon-link"></i> <i>Прикрепить</i></a>
                                                    </div>
                                                    <div class="col-xs-4 no-padding">
                                                        <a class="btn btn-block btn-primary pull-right">Отправить</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>

                            <div class="row post no-margin">
                                <div class="col-xs-2 no-padding">
                                    <div class="wrap_ava ava-small network-on">
                                        <a href="#" class="relative">
                                            <img src="/images/ava-small.png" class="img-circle" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding">
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-8 no-padding">
                                            <a href="#" class="user_title">Елена Поливайченко</a>
                                        </div>
                                        <div class="col-xs-4 no-padding  text-right">
                                            <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                            <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                        </div>
                                    </div>

                                    <p>Помниш тот вечер.</p>
                                    <p><strong>Sebastian Tellier - Look.</strong></p>
                                    <img src="/images/img3.jpg" class="img-rounded" /><br />
                                    <br />
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-12 no-padding">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="icon icon-hide-love"></i> <strong>8</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-hide-love-not"></i> <strong>9</strong>
                                                </li>
                                                <li>
                                                    <i>Поделиться</i>
                                                </li>
                                                <li>
                                                    <i class="icon icon-alert"></i> <strong>11</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-comment"></i>
                                                </li>
                                                <li class="text-right pull-right">
                                                    <small>12 января в 19:40</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="row post no-margin">
                                <div class="col-xs-2 no-padding">
                                    <div class="wrap_ava ava-small network-off">
                                        <a href="#" class="relative">
                                            <img src="/images/ava-small.png" class="img-circle" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-10 no-padding">
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-8 no-padding">
                                            <a href="#" class="user_title">Елена Поливайченко</a>
                                        </div>
                                        <div class="col-xs-4 no-padding  text-right">
                                            <i class="icon icon-edit" data-toggle="tooltip" data-placement="top" title="Редактировать запись"></i>
                                            <i class="icon icon-close" data-toggle="tooltip" data-placement="top" title="Удалить запись"></i>
                                        </div>
                                    </div>
                                    <div class="row no-margin galereya">
                                        <div class="col-xs-9 no-padding">
                                            <img src="/images/gal1.jpg" />
                                        </div>
                                        <div class="col-xs-3 no-padding">
                                            <div class="col-xs-12 no-padding">
                                                <img src="/images/gal2.jpg" />
                                            </div>
                                            <div class="col-xs-12 no-padding">
                                                <img src="/images/gal3.jpg" />
                                            </div>
                                            <div class="col-xs-12 no-padding">
                                                <img src="/images/gal4.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margin user_top_panel">
                                        <div class="col-xs-12 no-padding">
                                            <ul class="list-inline">
                                                <li>
                                                    <i class="icon icon-hide-love"></i> <strong>43</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-show-love-not"></i> <strong>6</strong>
                                                </li>
                                                <li>
                                                    <i>Поделиться</i>
                                                </li>
                                                <li>
                                                    <i class="icon icon-alert"></i> <strong>23</strong>
                                                </li>
                                                <li>
                                                    <i class="icon icon-comment"></i>
                                                </li>
                                                <li class="text-right pull-right">
                                                    <small>1 января в 09:34</small>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 right-column">

                            <div class="find-note-form">
                                <input type="text" placeholder="Найти запись">
                                <button type="submit"></button>
                            </div>

                            <a href="#newTag" data-toggle="modal" class="btn btn-primary my-notes-add-tag">Добавить вкладку</a>

                            <ul class="list-unstyled my-notes-tags">
                                <li><a href="#">Мои уроки</a></li>
                                <li><a href="#">Расписание</a></li>
                                <li><a href="#">Тренажерный зал</a></li>
                                <li><a href="#" class="active">Дизайнеры Син</a></li>
                                <li><a href="#">Готовые страницы Син</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div id="panel2" class="tab-pane fade">
                    <div class="line-with-alph clearfix">
                        <ul class="list-inline alphabet ru">
                            <li><a href="#"><span>А</span></a></li>
                            <li><a href="#"><span>Б</span></a></li>
                            <li><a href="#"><span>В</span></a></li>
                            <li><a href="#"><span>Г</span></a></li>
                            <li><a href="#"><span>Д</span></a></li>
                            <li><a href="#"><span>Е</span></a></li>
                            <li><a href="#"><span>Ж</span></a></li>
                            <li><a href="#" class="active"><span>З</span></a></li>
                            <li><a href="#"><span>И</span></a></li>
                            <li><a href="#"><span>К</span></a></li>
                            <li><a href="#" class="active"><span>Л</span></a></li>
                            <li><a href="#"><span>М</span></a></li>
                            <li><a href="#"><span>Н</span></a></li>
                            <li><a href="#"><span>О</span></a></li>
                            <li><a href="#"><span>П</span></a></li>
                            <li><a href="#"><span>Р</span></a></li>
                            <li><a href="#"><span>С</span></a></li>
                            <li><a href="#"><span>Т</span></a></li>
                            <li><a href="#"><span>У</span></a></li>
                            <li><a href="#"><span>Ф</span></a></li>
                            <li><a href="#"><span>Х</span></a></li>
                            <li><a href="#"><span>Ц</span></a></li>
                            <li><a href="#"><span>Ч</span></a></li>
                            <li><a href="#"><span>Ш</span></a></li>
                            <li><a href="#"><span>Щ</span></a></li>
                            <li><a href="#"><span>Э</span></a></li>
                            <li><a href="#"><span>Ю</span></a></li>
                            <li><a href="#"><span>Я</span></a></li>
                        </ul>
                        <ul class="list-inline alphabet eng hidden">
                            <li><a href="#"><span>A</span></a></li>
                            <li><a href="#"><span>B</span></a></li>
                            <li><a href="#"><span>C</span></a></li>
                            <li><a href="#"><span>D</span></a></li>
                            <li><a href="#"><span>E</span></a></li>
                            <li><a href="#"><span>F</span></a></li>
                            <li><a href="#"><span>G</span></a></li>
                            <li><a href="#" class="active"><span>H</span></a></li>
                            <li><a href="#"><span>I</span></a></li>
                            <li><a href="#"><span>J</span></a></li>
                            <li><a href="#" class="active"><span>K</span></a></li>
                            <li><a href="#"><span>L</span></a></li>
                            <li><a href="#"><span>M</span></a></li>
                            <li><a href="#"><span>O</span></a></li>
                            <li><a href="#"><span>P</span></a></li>
                            <li><a href="#"><span>Q</span></a></li>
                            <li><a href="#"><span>R</span></a></li>
                            <li><a href="#"><span>S</span></a></li>
                            <li><a href="#"><span>T</span></a></li>
                            <li><a href="#"><span>U</span></a></li>
                            <li><a href="#"><span>V</span></a></li>
                            <li><a href="#"><span>W</span></a></li>
                            <li><a href="#"><span>X</span></a></li>
                            <li><a href="#"><span>Y</span></a></li>
                            <li><a href="#"><span>Z</span></a></li>
                        </ul>
                        <a href="#" class="change-lang dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu">
                            <li class="lang-eng"><a href="#">Eng</a></li>
                            <li class="lang-ru"><a href="#">Ru</a></li>
                        </ul>
                    </div>
                    <div class="wrapper-map">
                        <a href="#" class="show-map"><span>Показать на карте</span></a>
                        <a href="#" class="show-hide-contacts pull-right"><span class="eye"></span><span>Скрывать контакты/Публиковать контакты</span></a>
                        <div class="notebook-map">
                            <div id="map_canvas"></div>
                        </div>
                    </div>
                    <div class="addresses-list">
                        <!-- begin letter-block -->
                        <div class="letter-block">
                            <div class="letter">З</div>
                            <!-- begin contacts-block -->
                            <div class="contacts-block clearfix">
                                <div class="col-sm-7">
                                    <div class="ava-small">
                                        <a href="#" class="relative">
                                            <img class="img-circle" src="/images/user-ava-6.jpg" alt="" >
                                        </a>
                                    </div>
                                    <div class="main-info">
                                        <div class="name">Захар Занинов</div>
                                        <div class="about">
                                            <p>Парень удалой</p>
                                        </div>
                                        <a href="#" class="edit">Редактировать</a>
                                    </div>
                                </div>
                                <div class="col-sm-5 location-info">
                                    <p><span class="bold">Адрес: </span>Москва, пр.Гагарина 105, 11</p>
                                    <p><span class="bold">Телефон: </span>+7 879 563 76 12</p>
                                    <p><span class="bold">E-mail: </span>zahar@yandex.ru</p>
                                </div>
                            </div>
                            <!-- end contacts-block -->
                            <!-- begin contacts-block -->
                            <div class="contacts-block clearfix">
                                <div class="col-sm-7">
                                    <div class="ava-small">
                                        <a href="#" class="relative">
                                            <img class="img-circle" src="/images/user-ava-10.jpg" alt="" >
                                        </a>
                                    </div>
                                    <div class="main-info">
                                        <div class="name">Нинель Зубакина</div>
                                        <div class="about">
                                            <p>Бежицкий отдел ФССП</p>
                                            <p>Нужен удобный поиск нужного контакта как через строку поиска, так и по алфавиту</p>
                                        </div>
                                        <a href="#" class="edit">Редактировать</a>
                                    </div>
                                </div>
                                <div class="col-sm-5 location-info">
                                    <p><span class="bold">Адрес: </span>Москва, пр.Гагарина 105, 11</p>
                                    <p><span class="bold">Телефон: </span>+7 879 563 76 12</p>
                                    <p><span class="bold">E-mail: </span>zahar@yandex.ru</p>
                                </div>
                            </div>
                            <!-- end contacts-block -->
                        </div>
                        <!-- end letter-block -->
                        <!-- begin letter-block -->
                        <div class="letter-block">
                            <div class="letter">Л</div>
                            <!-- begin contacts-block -->
                            <div class="contacts-block clearfix">
                                <div class="col-sm-7">
                                    <div class="ava-small">
                                        <a href="#" class="relative">
                                            <img class="img-circle" src="/images/user-ava-7.jpg" alt="" >
                                        </a>
                                    </div>
                                    <div class="main-info">
                                        <div class="name">Таисия Лядунова</div>
                                        <div class="about">
                                        </div>
                                        <a href="#" class="edit">Редактировать</a>
                                    </div>
                                </div>
                                <div class="col-sm-5 location-info">
                                    <p><span class="bold">Адрес: </span>Москва, пр.Гагарина 105, 11</p>
                                    <p><span class="bold">Телефон: </span>+7 879 563 76 12</p>
                                    <p><span class="bold">E-mail: </span>zahar@yandex.ru</p>
                                </div>
                            </div>
                            <!-- end contacts-block -->
                            <!-- begin contacts-block -->
                            <div class="contacts-block clearfix">
                                <div class="col-sm-7">
                                    <div class="ava-small">
                                        <a href="#" class="relative">
                                            <img class="img-circle" src="/images/user-ava-10.jpg" alt="" >
                                        </a>
                                    </div>
                                    <div class="main-info">
                                        <div class="name">Нинель Зубакина</div>
                                        <div class="about">
                                            <p>Бежицкий отдел ФССП</p>
                                            <p>Нужен удобный поиск нужного контакта как через строку поиска, так и по алфавиту</p>
                                        </div>
                                        <a href="#" class="edit">Редактировать</a>
                                    </div>
                                </div>
                                <div class="col-sm-5 location-info">
                                    <p><span class="bold">Адрес: </span>Москва, пр.Гагарина 105, 11</p>
                                    <p><span class="bold">Телефон: </span>+7 879 563 76 12</p>
                                    <p><span class="bold">E-mail: </span>zahar@yandex.ru</p>
                                </div>
                            </div>
                            <!-- end contacts-block -->
                        </div>
                        <!-- end letter-block -->
                    </div>
                </div>
            </div>


        </div><!-- /Dialogs-list -->

    </div><!-- /Dialog-open -->
</div>