<div class="row user_data">
    <div class="col-xs-8 no-padding ">
        <h2>Календарь</h2>
    </div>
    <div class="col-xs-4 no-padding text-right ">
        <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 no-padding">
        <ul class="nav nav-tabs calendar-tabs">
            <li class="active"><a data-toggle="tab" href="#panel1">Все события</a></li>
            <li class="tab-with-map"><a data-toggle="tab" href="#panel2">Фильмы</a></li>
            <li class="tab-with-map"><a data-toggle="tab" href="#panel3">Кредит</a></li>
            <li class="tab-with-map"><a data-toggle="tab" href="#panel4">Работа</a></li>
            <li class="doc-menu-on-right-side"><a href="#newCTab"  data-toggle="modal" class="new-tab"></a></li>
        </ul>
        <div class="tab-content">
            <div id="panel1" class="tab-pane fade in active">
                <div class="col-xs-12 panel-title">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="find-user-form sub-search">
                                <input type="text" />
                                <button type="submit"></button>
                            </div>
                        </div>
                        <div class="col-xs-9 no-padding after-search">
                            <a href="#" class="to-date">Перейти на дату</a>
                            <a href="#" class="pull-right new-event">Новое событие</a>
                        </div>
                    </div>
                </div>
                <!-- begin calendar-wrap -->
                <div class="col-xs-12 calendar-wrap">
                    <div class="month-panel">
                        <span class="btn-prev pull-left"></span>
                        <div class="current-date">Март, 2015</div>
                        <span class="btn-next pull-right"></span>
                    </div>
                    <table class="calendar">
                        <thead>
                        <tr>
                            <td>Понедельник</td>
                            <td>Вторник</td>
                            <td>Среда</td>
                            <td>Четверг</td>
                            <td>Пятница</td>
                            <td>Суббота</td>
                            <td>Воскресенье</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p class="day">1</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">2</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">3</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">4</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">5</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td>
                                <p class="day">6</p>
                                <p class="meeting">Встреча с Ириной Василенко</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">7</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-events">
                                <p class="day">8</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">9</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td>
                                <p class="day">10</p>
                                <p class="meeting">Встреча</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <p class="day">11</p>
                                <p class="meeting">Встреча с Ириной Василенко</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">12</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">13</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">14</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="day">15</p>
                                <p class="meeting">Встреча с Ириной Василенко</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">16</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">17</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">18</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td>
                                <p class="day">19</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">20</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">21</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-events">
                                <p class="day">22</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">23</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td>
                                <p class="day">24</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <p class="meeting">Новая серия большого взрыва</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <p class="day">25</p>
                                <p class="meeting">Встреча с Ириной Василенко</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events current-day">
                                <p class="day">26</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">27</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">28</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="day">29</p>
                                <p class="meeting">Встреча с Ириной Василенко</p>
                                <div class="meeting-details">
                                    <ul class="list-unstyled">
                                        <li><p>Встреча</p>В 16:45 в ресторане “Пушка” встреча по поводу проекта.</li>
                                    </ul>
                                </div>
                            </td>
                            <td class="no-events">
                                <p class="day">30</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="no-events">
                                <p class="day">31</p>
                                <a href="#" class="add-event">Добавить событие</a>
                            </td>
                            <td class="empty"></td>
                            <td class="empty"></td>
                            <td class="empty"></td>
                            <td class="empty"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end calendar-wrap -->
                <div class="col-xs-12 no-padding future-events">
                    <div class="col-xs-6 list-left">
                        <ul class="list-unstyled">
                            <li class="clearfix">
                                <div class="col-xs-7"><span class="where">Сегодня</span></div>
                                <div class="col-xs-5 text-right"><span class="date">23 марта 2015</span></div>
                            </li>
                            <li class="clearfix">
                                <div class="event-name">Фильмы</div>
                                <div class="col-xs-7">
                                    <p class="event-descr">Новая серия Элементарно</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-descr">в 18:30 по ТНТ</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="event-name">Встреча</div>
                                <div class="col-xs-7">
                                    <p class="event-descr">Встреча в парке с Александрой</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="event-name">Кредит</div>
                                <div class="col-xs-7">
                                    <p class="event-descr">Отдать долг</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-descr">в 14:30 на Васильевском</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 list-right">
                        <ul class="list-unstyled">
                            <li class="clearfix">
                                <span class="where">Скоро</span>
                            </li>
                            <li class="clearfix">
                                <div class="col-xs-7">
                                    <span class="event-name">День Рождения</span>
                                    <p class="event-descr">Василий Цикало</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-date">29 марта 2015</p>
                                    <p class="event-descr">30 лет</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="col-xs-7">
                                    <span class="event-name">День Рождения</span>
                                    <p class="event-descr">Василий Цикало</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-date">29 марта 2015</p>
                                    <p class="event-descr">30 лет</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="col-xs-7">
                                    <span class="event-name">Премьера фильма</span>
                                    <p class="event-descr">Шпионский мост</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-date">30 марта 2015</p>
                                    <p class="event-descr">забронировать</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="col-xs-7">
                                    <span class="event-name">День Рождения</span>
                                    <p class="event-descr">Василий Цикало</p>
                                </div>
                                <div class="col-xs-5 text-right">
                                    <p class="event-date">29 марта 2015</p>
                                    <p class="event-descr">30 лет</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="panel2" class="tab-pane fade">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam repudiandae distinctio, libero quia ducimus, officiis nemo nobis veniam sequi voluptatum quasi velit temporibus labore provident iste eveniet incidunt illum.
            </div>
            <div id="panel3" class="tab-pane fade">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam repudiandae distinctio, libero quia ducimus, officiis nemo nobis veniam sequi voluptatum quasi velit temporibus labore provident iste eveniet incidunt illum.
            </div>
            <div id="panel4" class="tab-pane fade">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam repudiandae distinctio, libero quia ducimus, officiis nemo nobis veniam sequi voluptatum quasi velit temporibus labore provident iste eveniet incidunt illum.
            </div>
        </div>
    </div>
</div>