<div class="row no-margin user_data">
    <div class="col-xs-8 no-padding ">
        <h2>Сообщения</h2>
    </div>
    <div class="col-xs-4 no-padding text-right ">
        <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
    </div>
</div>

<div class="row no-margin dialog">

    <div class="col-xs-12 dialog-title">
        <div class="row">
            <div class="col-xs-3">
                <div class="find-user-form">
                    <input type="text" placeholder="Введите имя" />
                    <button type="submit"></button>
                </div>
            </div>
            <div class="col-xs-9">

                <div class="default-line">
                    <a href="#" class="dialog-invite pull-right">Пригласить в чат</a>
                </div>

                <div class="invite-dialog-line" style="display: none;">
                    <input type="text" placeholder="Введите название беседы" />
                    <a href="#" class="make-dialog-invite pull-left">Создать беседу</a>
                    <a href="#" class="dialog-invite-cancel pull-left">Отменить</a>

                    <a href="#" class="dialog-close pull-right"><i class="icon icon-close"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xs-12 dialogs-list" id="dialog-list">

        <div>

            <div class="row" ng-repeat="message in messages"
                 ng-init="inbox = (message.to._id==user._id)"
                 ng-class="{'inbox':inbox,'outbox':!inbox}">
                <div ng-init="friend = inbox?message.from:message.to" ui-sref="chat({friendId:friend._id})">
                    <div class="col-xs-3">
                        <a href="#" class="invite "></a>
								<span class="wrap_ava ava-small" ng-class="{'network-on':friend.status,'network-off':!friend.status}">
									<a href="#" class="relative">
                                        <img ng-src="/images/{{friend.photo}}" alt="{{friend.name}}" class="img-circle" />
                                    </a>
								</span>
                        <span class="user-name" ng-bind="friend.name">Sin</span>
                        <span class="last-message-date">01.03.2015</span>
                    </div>
                    <div class="col-xs-9 no-margin message" ng-class="{'unread':!message.status}">
                        <div class="col-xs-2" ng-class="{'pull-right':inbox}">
                            <p class="message-date text-right">20:14</p>
                        </div>
                        <div class="col-xs-10" ng-bind="message.text">
                            Стрелки дайте применим не только к Почте, но и ко всем остальным вкладкам.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>