<div class="glossary-page">
    <div class="row no-margin user_data glossary-title">
        <div class="col-xs-8 no-padding ">
            <h2>Голлосариум</h2>
        </div>
        <div class="col-xs-4 no-padding text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs document-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Все товары</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel2">Электроника</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel3">Компьютеры</a></li>
                <li class="tab-with-map"><a data-toggle="tab" href="#panel4">Мобильные телефоны</a></li>
                <li class="doc-menu-on-right-side"><a href="#newWTab"  data-toggle="modal" class="new-tab"></a></li>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="col-xs-12 glossary">

            <div class="tab-content clearfix row">
                <div id="panel1" class="tab-pane fade in active">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">

                        <div class="row">
                            <div class="col-xs-3 find-user-form sub-search form-on-the-top-onthe-docs custom-lefter">
                                <input type="text" placeholder="Введите название" />
                                <button type="submit"></button>
                            </div>
                            <div class="col-xs-9">
                                <div class="custom-lefter">
                                    <div class="sort">
                                        <span>Сортировать:</span>
                                        <a href="#" class="sort-date active">По цене</a>
                                        <a href="#" class="sort-alph">По рейтингу</a>
                                        <a href="#" class="sort-type">По новизне</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="all-content">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-right-padding" id="r-body">
                            <div class="brands-grey-bordered shop-item">

                                <div class="col-xs-3 shop-item-photo">
                                    <img src="/images/img-products/wish-prod-1.jpg">
                                </div>
                                <div class="col-xs-9 shop-item-body">
                                    <div class="row">
                                        <div class="col-xs-8 shop-item-body-title">
                                            <a>Sony experia Z 3</a>
                                        </div>
                                        <div class="col-xs-4 shop-item-body-price">
                                            <b>31 250 руб.</b>
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-category">
                                        <div class="col-xs-12">
                                            Мобильные телефоны
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-description">
                                        <div class="col-xs-12">
                                            Смартфон, Android 5.0<br/>
                                            Экран 5.1", разрешение 2560х1440<br/>
                                            Камера 16МП, автофокус
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-shop">
                                        <div class="col-xs-12">
                                            <span class="shop-name">СВЯЗНОЙ</span>&nbsp;
                                            <span class="stars"><span class="stars-active-4"></span></span>&nbsp;
                                            <span class="shop-comments">16 отзывов</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8 shop-item-body-buttons">
                                            <span class="item-comments">Отзывы 19</span>&nbsp;
                                            <span class="item-comments-like">
                                                <i class="icon icon-hide-love"></i>
                                                <span>Пожелать</span>
                                            </span>&nbsp;
                                            <span class="item-comments">Купили 21</span>
                                        </div>
                                        <div class="col-xs-4 shop-item-body-vote">
                                            <div class="vote" style="background: linear-gradient(to right, #6DAF53 15%, #DFEBF1 0%);">15 голосов из 100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brands-grey-bordered shop-item">

                                <div class="col-xs-3 shop-item-photo">
                                    <img src="/images/img-products/wish-prod-2.jpg">
                                </div>
                                <div class="col-xs-9 shop-item-body">
                                    <div class="row">
                                        <div class="col-xs-8 shop-item-body-title">
                                            <a>Sony Z 3</a>
                                        </div>
                                        <div class="col-xs-4 shop-item-body-price">
                                            <b>31 250 руб.</b>
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-category">
                                        <div class="col-xs-12">
                                            Мобильные телефоны
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-description">
                                        <div class="col-xs-12">
                                            Смартфон, Android 5.0<br/>
                                            Экран 5.1", разрешение 2560х1440<br/>
                                            Камера 16МП, автофокус
                                        </div>
                                    </div>
                                    <div class="row shop-item-body-shop">
                                        <div class="col-xs-12">
                                            <span class="shop-name">СВЯЗНОЙ</span>&nbsp;
                                            <span class="stars"><span class="stars-active-4"></span></span>&nbsp;
                                            <span class="shop-comments">16 отзывов</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8 shop-item-body-buttons">
                                            <span class="item-comments">Отзывы 19</span>&nbsp;
                                            <span class="item-comments-like">
                                                <i class="icon icon-hide-love"></i>
                                                <span>Пожелать</span>
                                            </span>&nbsp;
                                            <span class="item-comments">Купили 21</span>
                                        </div>
                                        <div class="col-xs-4 shop-item-body-vote">
                                            <div class="vote" style="background: linear-gradient(to right, #6DAF53 15%, #DFEBF1 0%);">15 голосов из 100</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 resize-me" new-height="#r-body" auto-min-height="true">
                            <div class="brands-grey-bordered">

                                <div class="wish-friends-title">
                                    Голоса друзей
                                </div>

                                <div class="col-xs-12 messages-user-list">
                                    <div>
                                        <div class="row">
			    <span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-1.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Sin</span>
				</span>
                                        </div>

                                        <div class="row current">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-2.jpg" class="img-circle" />
                        </a>
					</span>
				    <span class="user-name">Максим Походун</span>
				</span>
                                        </div>

                                        <div class="row">
			    <span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-3.jpg" class="img-circle" />
                        </a>
					</span>
				    <span class="user-name">Светлана Антипова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
    				<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-4.jpg" class="img-circle" />
                        </a>
					</span>
				    <span class="user-name">Елена Лагунова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-5.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Изольда Караванова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
					    <a href="#" class="relative">
                            <img src="/images/user-ava-6.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Захар Назинов</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-7.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Елена Лагунова</span>
    			</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
				    <a href="#" class="invite "></a>
				    <span class="wrap_ava ava-small network-on">
					    <a href="#" class="relative">
                            <img src="/images/user-ava-8.jpg" class="img-circle" />
                        </a>
				    </span>
				    <span class="user-name">Елена Лагунова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
					    <a href="#" class="relative">
                            <img src="/images/user-ava-9.jpg" class="img-circle" />
                        </a>
				    </span>
				    <span class="user-name">Светалана Назинов</span>
				</span>
                                        </div>

                                        <div class="row">
			    <span class="col-xs-12">
				    <a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-1.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Sin</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-2.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Максим Походун</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
				    	<a href="#" class="relative">
                            <img src="/images/user-ava-3.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Светлана Антипова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-4.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Елена Лагунова</span>
				</span>
                                        </div>

                                        <div class="row">
			    <span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-5.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Изольда Караванова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-6.jpg" class="img-circle" />
                        </a>
					</span>
		    		<span class="user-name">Захар Назинов</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-7.jpg" class="img-circle" />
                        </a>
					</span>
	    			<span class="user-name">Елена Лагунова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-on">
						<a href="#" class="relative">
                            <img src="/images/user-ava-8.jpg" class="img-circle" />
                        </a>
					</span>
	    			<span class="user-name">Елена Лагунова</span>
				</span>
                                        </div>

                                        <div class="row">
				<span class="col-xs-12">
					<a href="#" class="invite "></a>
					<span class="wrap_ava ava-small network-off">
						<a href="#" class="relative">
                            <img src="/images/user-ava-9.jpg" class="img-circle" />
                        </a>
					</span>
					<span class="user-name">Светалана Назинов</span>
				</span>
                                        </div>
                                    </div>
                                </div><!-- /Messages-user-list -->


                                <div class="clr"></div>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>



                </div>
                <div id="panel2" class="tab-pane fade">
                    Подарки
                </div>
                <div id="panel3" class="tab-pane fade">
                    Вика
                </div>
                <div id="panel4" class="tab-pane fade">
                    Игорь
                </div>
            </div>
        </div>
    </div>
</div>