<div class="col-sm-11 col-md-11 col-lg-8">
    <form class="form-horizontal main-sittings">
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Страна:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Россия</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Город:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Москва</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-4 control-span">Дом:</span>
            <div class="col-sm-4">
                <a href="#">Укажите место</a>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Мобильный телефон:</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
            <div class="col-xs-4 form-comment">
                виден <a href="#">друзьям и друзьям друзей</a>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Дополнительный телефон:</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
            <div class="col-xs-4 form-comment">
                виден <a href="#">друзьям и друзьям друзей</a>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Skype:</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Личный сайт:</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <a href="#">Интеграция с другими сервисами</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
            </div>
        </div>

    </form>

</div>