<div class="col-sm-11 col-md-11 col-lg-8">
    <form class="form-horizontal main-sittings">
        <div class="form-group">
            <span class="col-sm-offset-4 col-sm-8 title-right">Среднее и дополнительное образование</span>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Страна:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Россия</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Город:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Москва</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Школа:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Школа №256</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Год начала обучения:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не выбран</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Год окончания обучения:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не выбран</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Дата выпуска:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не выбран</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Класс:</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не выбран</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Специальзация:</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
            </div>
        </div>
    </form>
</div>