<div class="col-sm-11 col-md-11 col-lg-9">
    <form class="form-horizontal main-sittings">
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Деятельность:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
            <div class="col-sm-3 form-comment">
                Участие в организациях,<br/>общественные посты
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Интересы:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимая музыка:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимые фильмы:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимые телешоу:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимые книги:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимые игры:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">Любимые цитаты:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-3 control-span">О себе:</span>
            <div class="col-sm-6">
                <textarea class="form-control" onkeyup="$(this).height($('.hiddendiv').html($(this).val().replace(/\n/g, '<br>')).height())" ng-class="{'noscroll':true}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
            </div>
        </div>
        <div class="form-group">
            <div class="hiddendiv col-sm-6"></div>
        </div>
    </form>
</div>