<div class="col-sm-11 col-md-11 col-lg-8">
    <form class="form-horizontal main-sittings">
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Полит. предпочтения</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Либеральные</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Мировоззрение</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" value="Не выбрано">
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Главное в жизни</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не указано</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Главное в людях</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не указано</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Отношение к курению</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не указано</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Отношение к алкоголю</span>
            <div class="col-sm-4">
                <select class="form-control input-sm">
                    <option>Не указано</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <span for="sit-sur" class="col-sm-4 control-span">Источники вдохновения</span>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
            </div>
        </div>
    </form>
</div>