<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal">
            <div class="form-group">
                <span for="sit-name" class="col-sm-4 control-span">Имя:</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm" id="sit-name">
                </div>
            </div>
            <div class="form-group">
                <span for="sit-sur" class="col-sm-4 control-span">Фамилия:</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm" id="sit-sur">
                </div>
            </div>
            <div class="form-group">
                <span for="sit-gender" class="col-sm-4 control-span">Пол</span>
                <div class="col-sm-6">
                    <select id="sit-gender" class="form-control input-sm">
                        <option>мужской</option>
                        <option>женский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span for="sit-status" class="col-sm-4 control-span">Семейное положение:</span>
                <div class="col-sm-6">
                    <select id="sit-status" class="form-control input-sm">
                        <option>Не выбрано</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">День рождения:</span>
                <div class="col-sm-6">
                    <div class="input-group">
                        <select class="form-control input-sm">
                            <option>8</option>
                        </select>
                        <div class="input-group-addon">&nbsp;</div>
                        <select class="form-control input-sm">
                            <option>Февраля</option>
                        </select>
                        <div class="input-group-addon">&nbsp;</div>
                        <select class="form-control input-sm">
                            <option>1993</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <select class="form-control input-sm">
                        <option>Показать только месяц и день</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span for="sit-sur" class="col-sm-4 control-span">Родной город:</span>
                <div class="col-sm-6">
                    <input type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Языки:</span>
                <div class="col-sm-6">
                    <select class="form-control input-sm">
                        <option>Русский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Дедушки, бабушки:</span>
                <div class="col-sm-6">
                    <a>добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Родители:</span>
                <div class="col-sm-6">
                    <a>добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Братья, сёстры:</span>
                <div class="col-sm-6">
                    <a>добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Дети:</span>
                <div class="col-sm-6">
                    <a>добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Внуки:</span>
                <div class="col-sm-6">
                    <a>добавить</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
            </div>
        </form>

    </div>
</div>