<div class="row">
    <div class="col-sm-11 col-md-11 col-lg-8">
        <form class="form-horizontal main-sittings">
            <div class="form-group">
                <span for="sit-name" class="col-sm-4 control-span">Имя:</span>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" id="sit-name">
                </div>
            </div>
            <div class="form-group">
                <span for="sit-sur" class="col-sm-4 control-span">Фамилия:</span>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" id="sit-sur">
                </div>
            </div>
            <div class="form-group">
                <span for="sit-gender" class="col-sm-4 control-span">Пол:</span>
                <div class="col-sm-5">
                    <select id="sit-gender" class="form-control input-sm">
                        <option>мужской</option>
                        <option>женский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span for="sit-status" class="col-sm-4 control-span">Семейное положение:</span>
                <div class="col-sm-5">
                    <select id="sit-status" class="form-control input-sm">
                        <option>Не выбрано</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">День рождения:</span>
                <div class="col-sm-5">
                    <div class="input-group">
                        <select class="form-control input-sm">
                            <option>8</option>
                        </select>
                        <div class="input-group-addon"></div>
                        <select class="form-control input-sm">
                            <option>Февраля</option>
                        </select>
                        <div class="input-group-addon"></div>
                        <select class="form-control input-sm">
                            <option>1993</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <select class="form-control input-sm">
                        <option>Показать только месяц и день</option>
                    </select>
                </div>
                <div class="col-xs-3 form-comment">
                	<span>на моей странице.</span>
                </div>
            </div>
            <div class="form-group">
                <span for="sit-sur" class="col-sm-4 control-span">Родной город:</span>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Языки:</span>
                <div class="col-sm-5">
                    <select class="form-control input-sm">
                        <option>Русский</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Дедушки, бабушки:</span>
                <div class="col-sm-5">
                    <a href="#">добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Родители:</span>
                <div class="col-sm-5">
                    <a href="#">добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Братья, сёстры:</span>
                <div class="col-sm-5">
                    <a href="#">добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Дети:</span>
                <div class="col-sm-5">
                    <a href="#">добавить</a>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-4 control-span">Внуки:</span>
                <div class="col-sm-5">
                    <a href="#">добавить</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="form-title">Изменить пароль</div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Старый пароль:</span>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Новый пароль:</span>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Повторите пароль:</span>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <button type="submit" class="btn btn-primary btn-lg">Изменить пароль</button>
                        </div>
                    </div>

                    <div class="form-title">Адрес Вашей электронной почты</div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Текущий адрес:</span>
                        <div class="col-sm-5">
                            a***@yandex.ru
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Новый адрес:</span>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <button type="submit" class="btn btn-primary btn-lg">Сохранить адрес</button>
                        </div>
                    </div>

                    <div class="form-title">Номер Вашего телефона</div>
                    <div class="form-group">
                        <span class="col-sm-4 control-span">Текущий номер:</span>
                        <div class="col-sm-5">
                            +7 *** *** ** 94
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-5">
                            <button type="submit" class="btn btn-primary btn-lg">Изменить номер телефона</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить</button>
                </div>
            </div>

        </form>

    </div>
</div>