<div class="support-page">
    <div class="row user_data">
        <div class="col-xs-8">
            <h2>Помощь</h2>
        </div>
        <div class="col-xs-4 text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 support-panel">
            <div class="row">
                <div class="col-xs-3">
                    <div class="find-user-form">
                        <input type="text" />
                        <button type="submit"></button>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-6 support-panel-button">


                    <div class="btn btn-lg btn-primary" href="#support-message" data-toggle="modal">
                        Написать в поддержку
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 supports">
            <span class="header">Часто задаваемые вопросы</span>
            <table class="table table-bordered" ng-init="supports={show:true}">
                <tr class="supports-title" ng-click="supports.show = !supports.show">
                    <td><span class="icon-btn-up" ng-class="{'icon-btn-up':supports.show,'icon-btn-down':!supports.show}"></span>Доступ к странице</td>
                </tr>
                <tr ng-show="supports.show">
                    <td>Мою страницу заблокировали</td>
                </tr>
                <tr ng-show="supports.show"><td>Мою страницу взломали!</td></tr>
                <tr class="supports-title"><td><span class="icon-btn-down"></span>Фотографии</td></tr>
            </table>
        </div>
    </div>
</div>