<div class="passwords-page">
    <div class="row no-margin user_data">
        <div class="col-xs-8 no-padding ">
            <h2>Пароли</h2>
        </div>
        <div class="col-xs-4 no-padding text-right ">
            <p><i class="icon icon-clock"></i> <strong>18:15</strong> <i class="icon icon-line"></i> 15 января 2015</p>
        </div>
    </div>

    <div class="row no-margin">

        <div class="col-xs-12 no-padding">
            <div class="right-column-content">
                <a id="call_modal_window_from_passwords" href="#myModalCust" class="btn-add" data-toggle="modal">Добавить аккаунт</a>
                <p>Вам больше не нужно запоминать пароли и придумывать легкие комбинации, чтобы не забыть</p>
                <p>Sin откроет Вам двери в аккаунты ко всем сайтам, в которых Вы зарегистрировались</p>

            </div>
            <div class="main-content clearfix">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="find-user-form sub-search">
                                <input type="text" />
                                <button type="submit"></button>
                            </div>
                        </div>
                        <div class="col-xs-8">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 no-padding clearfix">
                    <div class="sort clearfix">
                        <span href="#" class="pull-left">Сортировать:</span>
                        <a href="#" class="pull-left active">По популярности</a>
                        <a href="#" class="pull-left">По алфавиту</a>
                        <a href="#" class="pull-left">По количеству аккаунтов</a>
                    </div>
                </div>

                <div class="col-xs-12">
                    <!-- begin service-wrap -->
                    <div class="service-wrap">
                        <div class="clearfix">
                            <div class="service-name vk">
                                Вконтакте
                            </div>
                            <a href="#myModalVk" class="add-account" data-toggle="modal">Добавить аккаунт</a>
                        </div>
                        <ul class="list-unstyled account-list">
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Иванов Иван</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Артур Продажников</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end service-wrap -->
                    <!-- begin service-wrap -->
                    <div class="service-wrap">
                        <div class="clearfix">
                            <div class="service-name fb">
                                Facebook
                            </div>
                            <a href="#myModalFb" class="add-account" data-toggle="modal">Добавить аккаунт</a>
                        </div>
                        <ul class="list-unstyled account-list">
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Виола Третьякова</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end service-wrap -->
                    <!-- begin service-wrap -->
                    <div class="service-wrap">
                        <div class="clearfix">
                            <div class="service-name ok">
                                Одноклассники
                            </div>
                            <a href="#myModalOk" class="add-account" data-toggle="modal">Добавить аккаунт</a>
                        </div>
                        <ul class="list-unstyled account-list">
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Виола Третьякова</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Виола Третьякова</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Виола Третьякова</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end service-wrap -->
                    <!-- begin service-wrap -->
                    <div class="service-wrap">
                        <div class="clearfix">
                            <div class="service-name tw">
                                Twitter
                            </div>
                            <a href="#myModalTw" class="add-account" data-toggle="modal">Добавить аккаунт</a>
                        </div>
                        <ul class="list-unstyled account-list">
                            <li class="user-line clearfix">
                                <a href="#" class="to-other-page pull-left"><i></i></a>
                                <span class="login pull-left">Виола Третьякова</span>
                                <span class="switch pull-left"></span>
                                <input type="password" disabled class="password pull-left" value="12121">
                                <span class="eye pull-right"></span>
                                <div class="account-info">
                                    Аккаунт зарегистрирован 2 апреля 2013 года в городе Сургут и так далее. 85 контактов, 35 из Хантымансийска
                                    <a href="#myModalCust" class="edit" data-toggle="modal">Редактировать</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end service-wrap -->
                </div>
            </div>
        </div>

        <!-- /Dialogs-list -->

        <!-- begin wrap-content -->
        <div class="wrap-content col-xs-12">

        </div>
        <!-- end wrap-content -->

    </div><!-- /Dialog-open -->
</div>
