
.calendar-page{
  .my-modal h4 {
    padding-left: 0;
    &:before {
      background: none;
      width: 0;
    }
  }
  .after-search{
    margin-top: 20px;
    line-height: 33px;
    font-family: "OpenSansLightItalic";
    font-size: 13px;
    a{
      color: #000;
    }
  }
  .to-date{
    display: inline-block;
    padding-left: 10px;
  }
  .new-event{
    display: inline-block;
    position: relative;
    padding-left: 23px;
    &:before{
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 16px;
      height: 20px;
      background: url(/images/icons2/social.png) -137px 0 no-repeat;
    }
  }
  .calendar-wrap{
    padding-right: 20px;
    margin: 30px 0;
  }
  .month-panel{
    position: relative;
    height: 40px;
    background: #91bfd6;
    color: #fff;
    font-size: 18px;
  }
  .btn-prev, .btn-next{
    width: 17px;
    height: 17px;
    margin-top: 11px;
    cursor: pointer;
  }
  .btn-prev{
    margin-left: 20px;
    background: url(/images/icons2/social.png) -113px -34px no-repeat;
  }
  .btn-next{
    margin-right: 20px;
    background: url(/images/icons2/social.png) -132px -34px no-repeat;
  }
  .current-date{
    width: 150px;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
  }
  .nav-tabs{
    margin-top: 25px;
  }
  .calendar{
    width: 100%;
    table-layout: fixed;
    td{
      width: 14.2851%;
      padding: 10px;
      vertical-align: top;
      border: 1px solid #fff;
      background: #f0f7fb;
      font-family: "OpenSansLight";
      &:nth-child(6),
      &:nth-child(7){
        background: #dcedf5;
      }
      &:hover .meeting-details{
        display: block;
      }
    }
    thead td{
      font-family: "OpenSansSemiBold";
      font-size: 13px;
      color: #74a8c2;
    }
    tbody td{
      position: relative;
      height: 100px;
      font-size: 10px;
    }
    .no-events:hover{
      background: #dfebf1 url(/images/icons2/add.png) center 25px no-repeat;
    }
    .no-events:hover .add-event{
      display: block;
    }
    .current-day{
      background: #f5dfce;
    }
  }
  .day{
    margin-bottom: 10px;
    font-family: "OpenSansSemiBold";
    font-size: 13px;
    color: #74a8c2;
  }
  .meeting{
    line-height: 20px;
    &-details{
      display: none;
      position: absolute;
      top: 0;
      right: -237px;
      width: 230px;
      padding: 0 15px;
      font-size: 12px;
      font-family: "OpenSansLight";
      color: #858788;
      background: #fff;
      z-index: 10;
      &:before{
        content: "";
        display: inline-block;
        position: absolute;
        top: 34px;
        left: -23px;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-right: 12px solid #fff;
      }
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -12px;
        width: 23px;
        height: 100%;
        background: transparent;
      }
      p{
        margin-bottom: 6px;
        color: #000;
        font-size: 14px;
      }
      li{
        padding: 7px 0 10px;
        border-bottom: 1px solid #f0f7fb;
        &:last-child{
          margin-bottom: 10px;
          border-bottom: none;
        }
      }
    }
  }
  tbody td > p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .empty{
    background: #fff !important;
  }
  .no-events{
    cursor: pointer;
  }
  .add-event{
    position: relative;
    display: none;
    margin-top: 23px;
    text-align: center;
    color: #000;
    font-size: 13px;
    font-family: "OpenSansLightItalic";
  }
  .future-events{
    margin-bottom: 35px;
    font-family: "OpenSansLight";
    p{
      margin: 3px 0;
    }
    li{
      padding: 7px 0;
      border-bottom: 1px solid #dfebf1;
      span, p{
        line-height: 19px;
      }
      .col-xs-7{
        padding-left: 0;
      }
      .col-xs-5{
        padding-right: 0;
      }
    }
    .date{
      font-family: "OpenSansSemiBold";
      line-height: 25px;
    }
    .where{
      font-size: 18px;
    }
  }
  .event-name{
    font-size: 14px;
  }
  .event-date{
    font-size: 13px;
    font-family: "OpenSansSemiBold";
  }
  .event-descr{
    font-size: 12px;
    color: #858788;
  }
  .calendar-tabs .doc-menu-on-right-side .new-tab{
    border-bottom: none;
    color: #FFF;
    background: url(/images/icons2/plus.png) center center no-repeat #536177;
    height: 43px;
    width: 43px;
    border-radius: 0 !important;
    &:hover, &:focus{
      background-color: #F7905D;
    }
  }
}
.doc-menu-on-right-side {
  border-radius: 0 !important;
  cursor: pointer;
  float: right !important;
  margin: 0 !important;
  padding: 0 !important;
}