@import "variables";
@import "mixins";
@import "bootstrap.css";
//@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "bootstrap-theme.css";
@import "font-awesome.min.css";
@import "fonts.css";
%status{
  bottom: 93px;
  left: 93px;
  content: " ";
  position: absolute;
  border-radius: 12px;
  @include square-size(15px);
}
@import "content";
  @import "calendar";
.cart-page{
  @import "cart";
}
  @import "comment-in-friend";
  @import "dialog";
  @import "documents";

.friends-page{
  @import "friends";
}

.glossary-page{
  @import "glossary";
}

  @import "notebook";
  @import "passwords";

.photos-page{
  @import "photos";
}

.purchases {
  @import "purchases";
}

  @import "wishes";

  @import "modals";

footer {
  @import "footer";
}

