.passwords-page{
  .sort{
    margin-left: 20px;
    padding: 20px 0 25px;
    font-size: 13px;
    font-family: "OpenSansLight";
    a{
      margin-right: 18px;
      margin-left: 13px;
      padding-top: 7px;
      line-height: 14px;
      color: #000;
      border-bottom: 1px dotted #91bfd6;
      &.active{
        margin-right: 5px;
        margin-left: 0;
        padding: 7px 13px 8px;
        border-bottom: none;
        color: #fff;
        background: #91bfd6;
      }
    }
    span{
      margin-right: 18px;
      padding-top: 7px;
      line-height: 14px;
      color: #000;
      font-family: "OpenSansItalic";
    }
  }
  .right-column-content{
    width: 230px;
    float: right;
  }
  .main-content{
    margin-right: 250px;
  }
  .service-wrap{
    border-top: 1px solid #dfebf1;
  }
  .service-name{
    position: relative;
    float: left;
    margin-top: 30px;
    padding-left: 44px;
    font-family: "OpenSansLight";
    font-size: 18px;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 0px;
      width: 33px;
      height: 33px;
      background: url(/images/icons2/social.png) 0 0 no-repeat;
    }
    &.vk:before{
      background-position: 0 0;
    }
    &.fb:before{
      background-position: -34px 0;
    }
    &.ok:before{
      background-position: -68px 0;
    }
    &.tw:before{
      background-position: -102px 0;
    }
  }
  .add-account{
    position: relative;
    display: inline-block;
    margin-top: 34px;
    margin-left: 30px;
    padding-left: 20px;
    font-size: 13px;
    font-family: "OpenSansLightItalic";
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 0px;
      width: 16px;
      height: 16px;
      background: url(/images/icons2/social.png) 1px -33px no-repeat;
    }
  }
  .account-list{
    margin-bottom: 2px;
  }
  .user-line{
    position: relative;
    padding: 15px 20px 15px 10px;
    &:hover{
      background: #f0f7fb;
      .account-info{
        display: block;
      }
    }
  }
  .account-info{
    position: absolute;
    display: none;
    top: 0;
    right: -231px;
    width: 230px;
    padding: 15px;
    font-size: 13px;
    background: #f0f7fb;
    .edit{
      display: block;
      position: relative;
      margin-top: 10px;
      padding-left: 25px;
      font-family: "OpenSansItalic";
      color: #000;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(/images/icons2/edit.png) 0 0 no-repeat;
      }
    }
  }
  .to-other-page{
    margin-right: 15px;
    i{
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-bottom: -3px;
      background: url(/images/icons2/editor-window.png) 0 0 no-repeat;
    }
  }
  .login{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "OpenSansSemiBold";
    font-size: 14px;
  }
  .password{
    border: none;
    background: none;
  }

  .btn-add{
    display: inline-block;
    padding: 8px 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "OpenSansLight";
    color: #fff;
    background: #536177;
  }
  .user_data p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .find-user-form{
    margin-top: 0;
  }
  .user_data h2{
    margin-top: 20px;
  }
}
.switch{
  width: 45px;
  height: 20px;
  margin-right: 40px;
  background: url(/images/icons2/social.png) -17px -34px no-repeat;
  cursor: pointer;
  &.active{
    background-position: -64px -34px;
  }
}
.passwords-page .eye,
.notebook-page .eye{
  cursor: pointer;
  width: 23px;
  height: 18px;
  background: url(/images/icons2/show.png) 0 -25px no-repeat;
}
.notebook-page .eye{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -5px;
}
.passwords-page .eye.open,
.notebook-page .eye.open{
  background-position: 0 0;
}