.wishes-btn{
  @extend .btn-primary;
  width: 100%;
  margin: 3px 5px;
  &:hover{
    i{
      filter: brightness(250%);
    }
  }
}
&-tabs {
  border-bottom: 1px solid #536177;
  padding-top:2px;
}
.categories{
  margin-top: 5px;
  margin-bottom: 20px;
  ul.categ{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    &>li{
      margin-top: 10px;
      float: left;
      margin-bottom: -1px;
      display: block;
      position: relative;
      &>.categ-title{
        padding: 5px 15px;
        cursor: pointer;
        font-family: OpenSansLight;
        color: black;
        position: relative;
        background: white;
        margin-bottom:0;
        a{
          display: block;
          border-bottom: 1px dashed #458eb2;
          line-height: 1;
          color: black;
        }
      }
      .subCateg{
        display: none;
      }
      &:hover{
        position: relative;
        z-index: 21;
        @include border-no-bottom(1px solid black);
        &>.categ-title{
          margin-bottom: -1px;
          z-index: 21;
          padding: 4px 14px;
          height: 25px;
        }
        .subCateg{
          display: block;
          position: absolute;
          z-index: 20;
          background: white;
          width: 400px;
          padding: 15px 0;
          border: 1px solid black;
          margin-left: -1px;
          ul{
            padding: 0;
            &>li{
              float: left;
              margin-bottom: -1px;
              padding: 15px;
              display: block;
              position: relative;
              width: 199px;
              text-align: center;
              &>a{
                cursor: pointer;
                line-height: 1;
                font-family: OpenSansLight;
                color: black;
                border-bottom: 1px solid black;
                display: block;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
&-block{
  margin-bottom: 10px;
  &-header{
    &-row{
      border-bottom: 1px solid #6CC3FF;
      height: 40px;
    }
    &-title{
      font-size: 20px;
      background: #6CC3FF;
      font-family: OpenSansBold;
      color: #fff;
      float: left;
      margin-bottom: -1px;
      padding: 6px 25px;
    }
    &-count{
      float: left;
      margin-bottom: -1px;
      padding: 15px 14px;
      padding-bottom: 0px;
      color: gray;
      font-weight: bold;
    }
  }

  &-orange{
    border-bottom: 1px solid #F9A67C;
    .purchases-block-header-title{
      background: #F9A67C;
    }
  }

  &-green{
    border-bottom: 1px solid green;
    .purchases-block-header-title{
      background: #2AC7A3;
    }
  }
  &-body{
    margin: 0;
    & > div{
      height: 452px;
      border: 1px solid #DCF0FB;
    }
    & .slider{
      padding:0;
      img{
        height: 450px;
      }
      .carousel-caption{
        font-size: 25px;
        .badge{
          position: absolute;
          font-size: 12px;
          padding: 2px 6px;
        }
        b{
          font-family: OpenSansRegular;
          font-size: 31px;
          font-weight: normal;
        }
      }
    }
    &,&2{
      .item-block{
        padding: 10px;
        cursor: pointer;
        &:hover{
          box-shadow:
                  0 0 0 rgba(0,0,0,0), //top
                  0 0 10px rgba(0,0,0,0.1), //right
                  0 3px 10px rgba(0,0,0,0.5), //bottom
                  0 0 10px rgba(0,0,0,0.1); //left
        }
        &-top{
          &-num{
            &-green{
              display: inline-block;
              height: 23px;
              width: 23px;
              text-align: center;
              border: 1px solid green;
            }
            &-red{
              @extend .item-block-top-num-green;
              border-color: red;
            }
            &-orange{
              @extend .item-block-top-num-green;
              border-color: orangered;
            }
          }
        }
        &-images{
          padding: 15px 0;
          text-align: center;
          img{
            height: 170px;
            max-width: 100%;
          }
        }
        &-title{
          font-size: 16px;
          height: 70px;
          overflow: hidden;
        }
        &-shop{
          padding:5px 0;
          border-bottom: 1px solid #DCF0FB;
          a:hover{
            color: #337ab7;
            text-decoration: underline;
          }
        }
        &-price{
          padding: 5px 0;
          font-family: OpenSansBold;
          font-size: 16px;
        }
        &-buttons{
          cursor: pointer;
          border: 1px solid #C9D2D6;
          background: #DFEBF1;
          padding: 3px;
          text-align: center;
          border-radius: 5px;
          height: 28px;
          overflow: hidden;
          &:hover{
            border-color: #a9cbdd;
            background: #B8DAEA;
          }
          span{
            color: orangered;
            font-size: 12px;
          }
        }
        &-time{
          $bord-color:#536177;
          height: 38px;
          text-align: center;
          @include border-radius(5px,1px solid $bord-color);
          @include margin-vertical(10px);
          width: 100%;
          &>div{
            float: left;
            height: 100%;
            @include padding-vertical(5px);
            width: 20%;
            &:first-child{
              background-color: $bord-color;
              padding: 0;
            }
            &:last-child{
              float: right;
              background: #DFEBF1;
              border-left:1px solid $bord-color;
              margin-right: -1px;
              @include border-radius-right(5px,1px solid $bord-color)
            }
            &:nth-child(3):before,&:nth-child(4):before{
              content: ":";
              position: absolute;
              display: block;
              font-family: OpenSansBold;
              margin-left: -1px;
            }
            & > div{
              line-height: 14px;
              &:first-child{
                font:{
                  family: OpenSansBold;
                  size: 16px;
                }
              }
              &:last-child{
                color: gray;
              }
            }
          }
        }
        &-bottom{
          &>div{
            float: left;
          }
          &-prices{
            cursor: pointer;
            border: 1px solid #C9D2D6;
            background: #DFEBF1;
            padding: 3px;
            text-align: center;
            border-radius: 5px;
            height: 28px;
            overflow: hidden;
            width: calc(95% - 55px);
            &:hover{
              border-color: #a9cbdd;
              background: #B8DAEA;
            }
            .p-count{
              color: gray;
            }
          }
          &-car{
            cursor: pointer;
            width: 45px;
            position: absolute;
            right: 10px;
            margin-top: -10px;
            border-radius: 5px;
            height: 40px;
            background: {
              color: #F7905D;
              image: url(/images/icons/car.png);
              position: center;
              repeat: no-repeat;
              size: 25px;
            };
            &:hover{
              background-color: #EA340A;
            }
          }
        }
      }
    }
    &2{
      font-family: OpenSansLight;
      margin-top: 15px;
      margin-bottom: 20px;
      .item-head{
        .item-num{
          float: right;
        }
        b{

          font-size: 17px;
        }
        margin-bottom: 10px;
      }
      .item-shop{
        font-size: 17px;
        margin-bottom: 30px;
      }
      .item-descriptions{
        height: 220px;
      }
      .item-img-block{
        height: 240px;
        text-align: center;
        img{
          max-height: 100%;
          max-width: 100%;
        }
      }
      .item-block-price{
        height: 220px - 28px;
        text-align: center;
      }
      .item-block-buttons{
        font-family: OpenSansRegular;
      }
    }
  }
}
&-search{
  background: #91BFD6;
  height: 50px;
  padding: 10px 0;
  input{
    @include margin-horizontal(10px);
    height: 100%;
    border: 1px solid #DCF0FB;
    border-radius: 5px;
    width: calc(100% - 150px);
    background: #DFEBF1;
  }
  .btn {
    width: 100px;
    margin: 0 5px;
  }
  .categ-dropdown{
    $border:1px solid lightgray;
    float: left;
    background:{
      image: url("/images/icons/categ_button.png");
      position: center;
      repeat: no-repeat;
    }
    height: 32px;
    width: 50px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0 0 0 15px;
    display: none;
    ul{
      border: $border;
      display: none;
      position: absolute;
      background: white;
      padding: 0;
      z-index: 9;
      text-align: left;
      li{
        padding: {
          left: 20px;
          right: 20px;
        };
        font-size: 14px;
        display: block;
        line-height: 30px;
        a{
          color: #0f0f0f;
        }
        &:hover{
          border: {
            top: $border;
            bottom: $border;
          };
          margin: {
            top: -1px;
            bottom: -1px;
          };
        }
        > ul{
          left: 100%;
          top: -1px;
          min-height: 100%;
          padding-top: 8px;
        }
      }
    }
    > ul{
      top: 43px;
      left: 15px;

      > li{
        padding: {
          left: 40px;
        };
        &:first-child{
          color: #0f0f0f;
          background: #DFEBF1;
          padding: {
            left: 20px;
          };
          line-height: 38px;
          a{
            margin-left: 10px;
            color: gray;
            text-decoration: underline;
          }
        }
        &:hover{
          &:after{
            content: " ";
            position: absolute;
            right: -1px;
            width: 1px;
            z-index: 10;
            height: 30px;
            background: white;
          }
        }
      }
      &:before {
        content: " ";
        position: absolute;
        background: #DFEBF1;
        width: 10px;
        height: 10px;
        top: -6px;
        left: 44px;
        transform: rotate(45deg);
        border:{
          top: $border;
          left: $border;
        }
      }
    }
  }
  &.in.categ{
    .categ-dropdown{
      display: inline-block;
      &:hover>ul, li:hover>ul{
        display: block;
      }
    }
    input{
      width: calc(100% - 150px - 65px);
    }
  }
}
&-item-block{
  @extend .purchases-block;
  padding-top: 14px;
}
.breadcrumb{
  padding: 0;
  background: white;
  margin: 0;
  a:hover{
    color: #FD925C;
  }
}
.all-items-btn{
  margin: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  &:hover{
    background: #DFEBF1;
  }
}
.bg-orange{
  background: orangered;
}
.bg-green{
  background: green;
}
&-category{
  text-align: center;
  margin-bottom: 15px;
  & , & > .row > div:last-child > div{
    border: 1px solid rgb(218, 239, 251);
  }
  & > .row > div:first-child{
    height: 500px;
    padding: 15px;
    b{
      color: #F7568D;
      font-family: OpenSansBold;
      font-size: 18px;
    }
    p{
      margin-bottom: 10px;
    }
  }
  &-icon{
    background: #F7568D;
    border-radius: 70px;
    height: 130px;
    padding: 15px;
    width: 130px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .pc-item{
    padding: 10px;
    height: 250px;
    &-photo{
      height: calc( 100% - 20px );
      img{
        height: 100%;
        max-width: 100%;
      }
    }
    &-title{
      height: 20px;
      padding-bottom: 10px;
      &-left{
        @extend .pc-item-title;
        text-align: left;
      }
    }
  }
}

.row-tabs{
  font-family: OpenSansLight;
  font-size: 17px;
  li{
    cursor: pointer;
  }
}

.shop{
  &:not(:hover){
    background: white;
  }
  border-bottom: 1px solid #d5e0f5;
  padding: 5px 0;
  height: 40px;
  font-family: OpenSansLight;
  &-delivery,&-price{
    @include padding-vertical(5px);
    text-align: center;
  }
  &-title{
    padding-top: 4px;
    font-size: 16px;
    &>.stars{
      @include margin-vertical(4px);
    }
  }
  &-price{
    font-family: OpenSansBold;
    font-size: 16px;
  }
  &-vote .vote{
    padding: 4px;
    height: 100%;
    border: 1px solid #A5A5A5;
    border-radius: 3px;
    text-align: center;
  }
}
.collapsedItem{
  background: #dfebf1;
  padding-left: 40px;
  >div{
    line-height: 50px;
    height: 50px;
    margin: 0;
  }
  .item-head{
    .arrow{
      position: absolute;
      display: block;
      left: -30px;
      @include square-size(48px);
      background:{
        image: url(/images/icons/cirle-down.png);
        position: center;
        repeat: no-repeat;
        size: 25px;
      }
      opacity: .5;
      cursor: pointer;
    }
    img{
      @include square-size(48px);
      margin-right: 10px;
    }
  }
  &:hover{
    .item-head .arrow{
      background-image: url(/images/icons/cirle-down-active.png);
      opacity: 1;
    }
  }
  @include xs-display{
    > div:not(:first-child){
      line-height: 30px;
      height: 30px;
      .item-block-price{
        text-align: left;
        padding: 0;
      }
    }
  };
}
.item-open-tabs{
  padding: 0 15px;
  ._characteristics{
    margin: 20px 0;
    font-size: 16px;
    .my-tooltip{
      font-size: 14px;
      background: #505050;
      color: white;
      position: absolute;
      left: 0;
      padding: 15px;
      margin-top: 8px;
      &:before{
        background: #505050;
        content: " ";
        height: 20px;
        width: 20px;
        position: absolute;
        left: 47px;
        top: -5px;
        transform: rotate(45deg);
      }
    }
    .glyphicon.red{
      color: #df0000;
      font-size: 14px;
      cursor: pointer;
    }
  }
  ._reviews{
    margin-top: 5px;
    padding-top: 5px;
  }
  ._customers{
    @extend .friends-page;
    background-color: white;
    margin: 0 -15px;
    padding: 0 15px;
    overflow: auto;
    .friend-comment-list{
      b:before{
        margin-right: 5px;
      }
    }
  }
  border-bottom: 1px solid #DAD6D6;
  background-color: #e6e6e6;
  pre{
    border: none;
  }
  .text{
    display: block;
    font-family: OpenSansLight;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.rev-container{
  width: 50%;
  min-height: 200px;
  float: left;
  padding: 10px;
  font-family: OpenSansLight;
  &>div{
    background: white;
  }
  .rev-header{
    padding: 10px;
    overflow: auto;
    .purchases-block-body2{
      margin: 0;
    }
    &-user{
      overflow: auto;
      &>div{
        float: left;
      }
      .wrap_ava{
        margin: 0;
      }
      &-info{
        padding: 10px;
      }
      &-name{
        font-size: 16px;
      }
      &-status{
        font-size: 13px;
      }
    }
    &-title{
      width: 100%;
      display: none;
    }
  }
  .rev-body{
    font-size: 16px;
    padding: 13px;
    .list-inline{
      li{
        font-size: 14px;
        line-height: 20px;
      }
    }
    .dignity,.limitations,.comments{
      overflow: hidden;
      height: 40px;
      margin-bottom: 10px;
      b:before{
        margin-right: 5px;
      }
    }
    .rev-after{
      position: absolute;
      width: 50%;
      text-align: end;
      margin-top: -28px;
      padding-right: 65px;
      &:before {
        content: "...";
        width: 10px;
        height: 20px;
        background: white;
        position: absolute;
      }
    }
    .date{
      text-align: end;
    }
    .view-all{
      cursor: pointer;
      &:hover{
        color: gray;
      }
    }
  }
  .rev-img{
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 250px;
    }
  }
  .item-head .item-num {
    margin-left: 30px;
  }
  &.modal-content{
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    .rev-header{
      border-radius: 5px;
      &-title{
        display: block;
        font-size: 18px;
      }
    }
    .rev-img{
      max-height: 500px;
      img{
        max-height: 500px;
      }
    }
    .rev-body {
      border-radius: 5px;
      .dignity, .limitations, .comments {
        overflow: visible;
        height: inherit;
      }
      .rev-after{
        display: none;
      }
      .view-all{
        display: none;
      }
    }
  }
}
.photo-modal{
  @extend #photo-preview;
  margin-top: 15px;
  border-radius: 5px !important;
  .modal-comments{
    border-top: 1px solid #a8a8a8;
    text-align: center;
    @include margin-horizontal(15px);
    i{
      color: gray;
      line-height: 100px;
    }
  }
}
.dignity{
  b:before{
    content: "+";
    color: green;
  }
}
.limitations{
  b:before{
    content: "−";
    color: red;
  }
}
.comments{
  b:before{
    content: "=";
  }
}