.main-search{
  background: #91BFD6;
  height: 50px;
  padding: 10px 0;
  margin-bottom: 5px;
  input{
    @include margin-horizontal(10px);
    height: 100%;
    border: 1px solid #DCF0FB;
    border-radius: 5px;
    width: calc(100% - 20px);
    background: #DFEBF1;
  }
  &-btn {
    width: 90%;
    margin: 3px -15px;
    font-family: OpenSansLight;
  }
}

.title-result{
  &>div{
    border-bottom: 1px solid #91BFD6;
    overflow: auto;
    width: 100%;
  }
  .open{
    padding: 0;
    text-align: center;
    font-family: OpenSansSemiBold;
    color: #91BFD6;
    margin-top:5px;
  }
}

.user{
  &-result{
    @include margin-vertical(10px);
  }
  &-info{
    &>div{
      float: left;
    }
    &-2{
      padding-left: 15px;
      color: #3F4348;
    }
  }
  &-photo{
    @include square-size(90px);
    img{
      @include square-size(90px);
    }
  }
  &-add{
    .btn{
      width: 90%;
      margin: 3px -15px;
      font-family: OpenSansLight;
    }
  }
}
.shop{
  &-result{
    margin-bottom: 10px;
    margin-top: 5px;
  }
  &-info{
    &>div{
      float: left;
    }
    &-2{
      width: calc(100% - 135px);
      &>div{
        width: 100%;
      }
      padding-left: 15px;
      b{
        font-family: OpenSansBold;
      }
    }
    &-3{
      p{
        font-family: OpenSansLight;
        margin: 0;
      }
    }
  }
  &-photo{
    @include square-size(135px);
    img{
      @include square-size(135px);
    }
  }
  &-btn{
    text-align: right;
  }
}
.group{
  $height: 135px;
  &-result{
    font-family: OpenSansLight;
    @include margin-vertical(10px);
    height: $height;
  }
  &-info{
    &>div{
      float: left;
    }
    &-2{
      padding-left: 15px;
      b{
        font-family: OpenSansBold;
      }
    }
  }
  &-count{
    margin-top: 45px;
    line-height: 35px;
    text-align: center;
  }
  &-btn{
    margin-top: 45px;
    .btn{
      width: 100%;
    }
  }
  &-photo{
    @include square-size($height);
    img{
      @include square-size($height);
    }
  }
}

.result{
  $height: 330px;
  $width-photo:75px;
  &-body{
    @include margin-vertical(10px);
    height: $height;
    &-2{
      @include padding-vertical(10px);
      overflow: auto;
      border-bottom: 1px solid #DFEBF1;
    }
    &,&-2{
      &>div{
        float: left;
      }
      &-name{
        margin-bottom: 15px;
      }
      &-photo{
        height: 100%;
        width: $width-photo;
        img{
          @include square-size($width-photo);
        }
      }
      .r-bb{
        padding-left: 25px;
        width: calc(100% - #{$width-photo});
        height: 100%;
        &-title{
          font-family: OpenSansBold;
          margin-bottom: 5px;
          .num-green{
            font-family: OpenSansRegular;
            display: inline-block;
            height: 23px;
            width: 23px;
            text-align: center;
            border: 1px solid green;
            margin-left: 10px;
          }
        }
        &-content{
          padding-right: 10px;
          font-family: OpenSansLight;
          img{
            &.left{
              float: left;
              margin-right: 20px;
            }
            width: 400px;
            height: 300px;
          }
        }
      }
    }
  }
}
#people{
  .user-add{
    margin-top: 25px;
    .btn{
      margin: 0;
      width: 100%;
    }
  }
  .user-body{
    border-bottom: 1px solid #DFEBF1;
  }
}

#shops, #groups{
  .right-stars{
    width: 127px;
    float: right;
  }
  .shop-info{
    border-bottom: 1px solid #DFEBF1;
    @include padding-vertical(10px);
    height: 155px;
    &-3{
      &>p{
        margin-top: 7px;
      }
      .btn{
        float: right;
        margin-top: 15px;
      }
    }
  }
  div:last-child>.shop-info{
    border-bottom: none;
  }
}

div:last-child>.line-stop{
  border-bottom: none;
}

.top-search-sort{
  position: absolute;
  top: -21px;
  left: 0;
  color: #6684B3;
  font-family: OpenSansLight;
  &:after{
    content: ' ';
    background:{
      image: url("/images/icons/down_mini.png");
      position: 97% 50%;
      repeat:  no-repeat;
    }
    height: 10px;
    width: 10px;
    position: absolute;
    right: -15px;
  }
}

.see-all{
  margin-bottom: 15px;
  font-family: OpenSansLight;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #DFEBF1 ;
  line-height: 24px;
  cursor: pointer;
  &:hover{
    background-color: #b6c2e5;
  }
}

.search-filter{
  padding-top: 10px;
  height: 700px;
  margin-top: -1px;
  background: #DFEBF1;
  border-top: 1px solid #91BFD6;
  &-line{
    text-decoration: line-through;
    padding: 4px;
    border: none;
    background: rgba(0,0,0,0);
  }
  .btn{
    font-family: OpenSansLight;
    width: 100%;
    text-align: left;
  }
  .form-group>label{
    font-family: OpenSansBold;
    font-size: 13px;
    margin-bottom: 2px;
  }
  input[type="checkbox"]{
    font-family: 'Glyphicons Halflings';
    &:after {
      cursor: pointer;
      position: absolute;
      content: " ";
      height: 15px;
      width: 15px;
      background: white;
      top: -2px;
      left: 0px;
      border: 1px solid #91A6D6;
    }
    &:checked:after{
      content: "\e013";
      line-height: 12px;
    }
  }
  .checkbox{
    label{
      font-family: OpenSansLight;
      input[type=checkbox]{
        margin-right: 15px;
      }
    }
  }
  input[type=text]{
    border: 1px solid #A5A5A5;
    border-radius: 0;
    height: 25px;
    @include padding-vertical(3px);
    padding-left: 7px;
    font-size: 13px;
    @include placeholder-style{
      color: #4e4e4e;
    }
    &.select{
      @include placeholder-style{
        font-family: OpenSansItalic;
      }
      padding-right: 20px;
      background:{
        image: url("/images/icons/down_mini.png");
        position: 97% 50%;
        repeat:  no-repeat;
      }
    }
  }
}