/* WISHES */

.wishes-page .sort{
  margin-left: 11px;
  padding: 6px 0 13px;
  font-size: 13px;
  font-family: "OpenSansLight";
}
.wishes-page .sort a{
  margin-right: 18px;
  margin-left: 13px;
  padding-top: 7px;
  line-height: 14px;
  color: #000;
  border-bottom: 1px dotted #91bfd6;
}
.wishes-page .sort span{
  margin-right: 18px;
  padding-top: 7px;
  line-height: 14px;
  color: #000;
  font-family: "OpenSansItalic";
}
.wishes-page .sort a.active{
  margin-right: 5px;
  margin-left: 0;
  padding: 7px 13px 8px;
  border-bottom: none;
  color: #fff;
  background: #91bfd6;
}
.wishes-page .dialog-list,
.wishes-page .dialog-grid{
  margin-top: 27px;
}
.wishes-page .dialog-list{
  margin-left: 15px;
}
.wishes-page .sort span{
  display: inline-block;
}
.wishes-page .wrap-btn-group{
  width: 295px;
  padding-right: 0;
  margin-bottom: 20px;
}
.wishes-page .btn-group{
  width: 280px;
  height: 80px;
}
.wishes-page .new-doc{
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 80px;
  padding: 23px 0 0 60px;
  color: #fff;
  font-family: "OpenSansLightItalic";
  font-size: 13px;
  border-right: 1px solid #fff;
  background: #91bfd6 url(/images/icons2/new-doc.png) 25px center no-repeat;
}
.wishes-page .load,
.wishes-page .to-archive{
  position: absolute;
  right: 0;
  width: 140px;
  height: 40px;
  padding: 6px 0 0 !important;
  font-family: "OpenSansRegular";
  font-size: 18px;
  color: #fff;
  background: #536177;
  text-align: center;
}
.wishes-page .load{
  top: 0;
  border-bottom: 1px solid #fff;
}
.wishes-page .to-archive{
  top: 40px;
}
.wishes-page .transcript{
  padding-left: 30px;
  color: #858788;
  font-size: 13px;
  font-family: "OpenSansLight";
}
.wishes-page .transcript p{
  padding-top: 12px;
}

.wishes-page .right-column .file-img{
  position: relative;
  min-height: 80px;
  padding-left: 0;
  padding-right: 0;
}
.wishes-page .right-column .file-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
  margin-top: -30px;
  margin-left: -30px;
}
.wishes-page .right-column .file-name{
  max-height: 60px;
  margin-bottom: 7px;
  margin-top: 0;
  overflow: hidden;
  font-family: "OpenSansBold";
}
.wishes-page .right-column{
  padding: 0 0 0 10px;
}
.wishes-page .right-column-bg{
  padding: 4px 10px 20px;
  background: #f0f7fb;
}
.wishes-page .right-info p{
  margin: 0 0 3px;
}
.wishes-page .show-file{
  position: relative;
  padding-left: 25px;
}
.wishes-page .btn-primary{
  padding: 3px 8px;
}
.wishes-page .right-column .btn-primary{
  margin-top: 7px;
}
.wishes-page .save-file{
  position: relative;
  width: 27px;
  height: 26px;
  margin: 0 10px;
}
.wishes-page .copy-link{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 30px;
  color: #000;
  cursor: pointer;
}
.wishes-page .copy-link:before{
  position: absolute;
  content: "";
  width: 16px;
  height: 19px;
  background: url(/images/icons2/copypaste.png) 0 0 no-repeat;
  top: 0px;
  left: 3px;
}
.wishes-page .edit-pencil{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 30px;
  color: #000;
}
.wishes-page .edit-pencil:before{
  position: absolute;
  content: "";
  width: 16px;
  height: 19px;
  background: url(/images/icons2/edit.png) 0 0 no-repeat;
  top: 0px;
  left: 3px;
}
.wishes-page .messages-smile{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 30px;
  color: #000;
}
.wishes-page .messages-smile:before{
  position: absolute;
  content: "";
  width: 22px;
  height: 19px;
  background: url(/images/icons2/messages.png) 0 0 no-repeat;
  top: 0px;
  left: 3px;
}
.wishes-page .save-disketa{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 30px;
  color: #000;
}
.wishes-page .save-disketa:before{
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background: url(/images/icons2/save.png) 0 0 no-repeat;
  top: 0px;
  left: 3px;
}
.wishes-page .trash-bucket{
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 30px;
  color: #000;
}
.wishes-page .trash-bucket:before{
  position: absolute;
  content: "";
  width: 15px;
  height: 19px;
  background: url(/images/icons2/trash.png) 0 0 no-repeat;
  top: 0px;
  left: 3px;
}
.wishes-page .save-file:before{
  position: absolute;
  content: "";
  top: 3px;
  left: 4px;
  width: 18px;
  height: 17px;
  background: url(/images/icons2/open-save.png) -46px 0 no-repeat;
}
.wishes-page .trash-file{
  color: #D9E8EF;
}
.wishes-page .dots{
  margin-left: 10px;
  line-height: 20px;
  font-size: 16px;
  color: #D9E8EF;
}
.wishes-page .share-link{
  height: 28px;
  line-height: 28px;
  padding-left: 7px;
  padding-right: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: "OpenSansLight";
  border: 1px solid #91bfd6;
  background: #fff;
}
.wishes-page .text-share{
  margin-top: 25px;
  cursor: pointer;
}
.wishes-page .file-name{
  margin-top: 15px;
  font-family: "OpenSansRegular";
}
.wishes-page .file-size,
.wishes-page .file-type,
.wishes-page .file-date{
  color: #5b5b5b;
  font-size: 13px;
  text-align: center;
}
.wishes-page .file-size{
  margin-top: 45px;
  font-family: "OpenSansLight";
}
.wishes-page .file-type{
  margin-top: 0;
}
.wishes-page .files-attached-list .file-img{
  min-height: 80px;
}

.wishes-page.default .wrap-btn-group,
.wishes-page.default .files-attached-list{
  padding-left: 0;
}
.wishes-page .my-modal h4:before {
  background: none;
  width: 0;
}
.wishes-page .my-modal h4 {
  padding-left: 0;
}
.wishes-page .grid-view .doc-checked{
  top: initial;
  bottom: 9px;
}
.wishes-page .grid-view .file-img{
  min-height: 50px;
}
.wishes-page .grid-view .file-info{
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  min-height: 40px;
}
.wishes-page .grid-view .file-size{
  margin-top: 0;
  font-size: 13px;
}
.wishes-page .grid-view .file-name{
  margin-top: 0;
  display: inline-block;
}
.wishes-page .grid-view .each-attached-file{
  padding: 0 8px;
  width: 25%;
  float: left;
}
.wishes-page .grid-view .file-info.overflow{
  height: 40px;
}
.wishes-page .grid-view .file-info.overflow .file-size{
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 41px;
  background: #f0f7fb;
}
.wishes-page .grid-view .file-info.overflow span{
  position: absolute;
  bottom: 0;
  right: 41px;
  background: #f0f7fb;
}
.my-wishes .find-user-form input{
  position: inherit;
}
.my-wishes-title {
  margin-top: 9px;
  margin-bottom: 17px;
}
.no-right-padding {
  padding-right: 0 !important;
}
.brands-grey-bordered {
  border: 1px solid #e7f0f4;
  width: 100%;
}
.wishes-page .wish-friends-title {
  width: 100%;
  height: 51px;
  line-height: 50px;
  color: #000;
  background-color: #cfe3ed;
  font-family: "OpenSansLight";
  font-size: 20px;
  text-align: center;
}
.wishes-page .all-content {
  margin-bottom: 9px;
}
.wishes-page .messages-user-list {
  padding-top: 10px;
}
.wishes-page .messages-user-list {
  border: none;
}
.wishes-page .my-wishes {
  padding-top: 20px;
}