<div id="photo-preview" class="modal fade my-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-close"></i></button>
                <span class="modal-title">Фотография <span ng-bind="modal.photo.index">4</span> из <span ng-bind="modal.photo.count">11</span></span>
            </div>
            <div class="modal-body">
                <div class="modal-img">
                    <img ng-src="/images/photos/{{modal.photo.name}}">
                </div>
                <div class="row user_top_panel">
                    <div class="col-xs-12">
                        <ul class="list-inline">
                            <li>
                                <i class="icon icon-show-love"></i> <strong>5</strong>
                            </li>
                            <li>
                                <i class="icon icon-show-love-not"></i> <strong>2</strong>
                            </li>
                            <li>
                                <i>Поделиться</i>
                            </li>
                            <li>
                                <i class="icon icon-alert"></i> <strong>7</strong>
                            </li>
                            <li>
                                <i class="icon icon-comment"></i>
                            </li>
                            <li class="text-right pull-right">
                                <small>Сегодня в 19:40</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 editor">
                        <div class="editor-header"><p>Ваш комментарий</p></div>
                        <div class="editor-body"></div>
                        <div class="editor-footer">
                            <button type="button" class="btn btn-link">Прикрепить</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Отправить</button>
                        </div>
                    </div>
                    <div class="col-xs-3 ">
                        <div class="user-info-mini">
                            <img src="/images/75x75/{{user.photo}}">
                            <div ng-bind="user.name"></div>
                        </div>
                        <div><a>Поделиться</a></div>
                        <div><a>Сохранить в блокнот</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="support-message" class="modal fade my-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Отправить сообщение
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="support-message-topic" class="col-sm-2 control-label">Заголовок</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm outline" id="support-message-topic"  placeholder="Введите тему Вашего вопроса">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="support-message-text" class="col-sm-2 control-label">Сообщение</label>
                        <div class="col-sm-10">
                            <textarea placeholder="Введите сообщение" id="support-message-text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="support-message-categ" class="col-sm-2 control-label">Категория</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control  input-sm outline" id="support-message-categ" placeholder="Выберите категорию">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Отправить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div id="to-wishes" class="modal fade my-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Мои желания
            </div>
            <div class="modal-body">
                <div class="search-panel">
                    <div class="find-user-form"><input type="text"> <button type="submit"></button></div>
                </div>
                <ul>
                    <li>Для дома <span class="group-access">(Открыт для всех)</span></li>
                    <li>Игорь <span class="group-access">(Личный)</span></li>
                    <li>Детям <span class="group-access">(Личный)</span></li>
                </ul>
                <button class="btn btn-primary">Выбрать</button>
                <div class="new-tab-link" ng-click="newTabShow=!newTabShow" ng-class="{'active':newTabShow}"><span>Новая вкладка</span></div>
                <div class="new-tab-block row" ng-show="newTabShow">
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>